.wrapper {
  .cards-trip {
    background-color: white;
    .card-trip {
      overflow: hidden;
      background: white;
      box-shadow: 0 0.5rem 1rem 0 rgba(245, 245, 245, 0.1);
      border-radius: 0.5rem;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      margin-bottom: 2rem;
    }
    .card-trip:hover {
      transform: scale3d(1.006, 1.006, 1);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    img {
      height: 14rem;
      width: 100%;
      object-fit: cover;
    }
    .card-trip-infos {
      padding: 0 0.5rem 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .card-trip-city-pricing {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .card-trip-pricing {
        color: #3e936f;
      }
      .carbon-footprint {
        p {
          font-size: 1.2rem;
          color: #262626;
          font-weight: bold;
        }
      }
    }
    .cards-trip-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 5rem;
      padding: 5rem 2.5rem 2.5rem 2.5rem;
    }
  }
}

//small screens
@media (max-width: 991px) {
  .cards-trip {
    .card-trip {
      .card-trip-infos {
        .card-trip-city {
          h4 {
            font-size: 1.6rem;
          }
        }
        .card-trip-pricing {
          h4 {
            font-size: 1.6rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
    .cards-trip-content {
      height: 150px;
    }
  }
}

// small screens
@media (min-width: 992px) {
  .wrapper {
    .cards-trip {
      margin-top: 5rem;
      .card-trip {
        margin-bottom: 5rem;
        .card-trip-infos {
          .card-trip-city {
            h4 {
              font-size: 1.6rem;
            }
          }
          .card-trip-pricing {
            h4 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.4rem;
            }
          }
        }
      }
      .cards-trip-content {
        height: 26rem;
        margin-top: 0px;
      }
    }
  }
}

// normal and big screens
@media (min-width: 1201px) {
  .wrapper {
    .cards-trip {
      .cards-trip-content {
        height: 26rem;
      }
    }
  }
}
