.popup-content {
  border-radius: 10px;
  padding: 10px !important;
}

.faq-title {
  h4 {
    color: #262626 !important;
    font-weight: normal 400 !important;
    font-size: 14px !important;
  }
}

.faq-answers {
  p {
    color: #262626 !important;
    font-weight: normal 400 !important;
    font-size: 14px !important;
    text-align: left;
  }
}

// extra-small screens
@media (max-width: 900px) {
  .popup-content {
    width: 80% !important;
  }
  .faq-title {
    .h4 {
      font-size: 12px !important;
    }
  }
  .faq-answers {
    p {
      font-size: 12px !important;
    }
  }
}

// small screens
@media (max-width: 1200px) {
  .popup-content {
    width: 80% !important;
  }
}
