.travel-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: calc(100vh - 70px);
}

@media (max-width: 1200px) {
  .search-box {
    display: flex;
    flex-direction: column;
  }
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: flex-wrap;
  border: solid #f5f7f9;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px 40px 10px 40px;
  margin: 5px 20px 5px 20px;
}

.vehicle-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-btn {
  background-color: none;
  border: none;
  outline: none;
}

.fa-toggle-on {
color: #49a991;
margin: 5px 0px 40px 0px;
}

.fa-toggle-off {
color: #44a7bc;
margin: 5px 0px 40px 0px;
}

@media (max-width: 1200px) {
  .btn-flat {
    width: 100%;
  }
}
.btn-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 80px;
  height: 44px;
  padding: 8px 24px;
  margin-left: 5px;
  border-radius: 5px;
  background: #49a991;
  transition: background 0.3s ease;
  &:hover {
  background: #429882;
  color: white;
  }
}


.MuiSwitch-colorSecondary.Mui-checked {
  color: #3e936f !important;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #3e936f !important;
}

