.travel-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.vehicle-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-btn {
  background-color: none;
  border: none;
  outline: none;
}

.fa-toggle-on {
color: #49a991;
margin: 5px 0px 40px 0px;
}

.fa-toggle-off {
color: #44a7bc;
margin: 5px 0px 40px 0px;
}

.btn-flat {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 80px;
  height: 44px;
  padding: 8px 24px;
  margin-top: 15px;
  border-radius: 4px;
  background: #49a991;
  transition: background 0.3s ease;
  &:hover {
  background: #429882;
  color: white;
  }
}
