.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  height: calc(100vh - 7rem);
  .formsearch-home {
    background-color: blue;
    height: 100%;
  }
  .map-home {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    height: 100%;
  }
}

@media (max-width: 1201px) {
  .formsearch-home {
    width: 100%;
  }
  .map-home {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 1201px) {
  .formsearch-home {
    width: 25%;
  }
  .formsearch-home-mobile {
    display: none;
  }
  .map-home {
    width: 75%;
  }
}
