.wrapper {
  .how-to-use-it {
    background-color: #29b3c1;
    padding-top: 5rem;
    padding: 5rem 0 12.5rem 0;
    .how-to-use-it-title {
      text-align: center;
      background-color: white;
      max-height: 25rem;
      max-width: 40rem;
      border-radius: 5rem;
      padding: 2rem 1rem 2rem 1rem;
    }
    .how-to-use-it-content {
      display: flex;
      flex-direction: column;
      text-align: left;
      background-color: #53c2cd;
      border-radius: 7.5rem 0 0 7.5rem;
      padding: 4.5rem 1rem 4.5rem 1rem;
      h2 {
        color: white;
      }
      p {
        color: white;
      }
      .how-to-use-it-content-card {
        display: flex;
        align-items: flex-start;
        width: 90%;
        max-width: 85rem;
        h3 {
          color: white;
        }
        .how-to-use-it-number {
          width: 10%;
          text-align: center;
          margin-right: 5rem;
        }
        .how-to-use-it-details {
          width: 90%;
          margin-top: 1rem;
        }
      }
    }
  }
}

// extra-small screens
@media (max-width: 900px) {
  .wrapper {
    .how-to-use-it {
      .how-to-use-it-title {
        margin: 0 5rem 1rem 5rem;
      }
      .how-to-use-it-content {
        margin: 2rem 0 0 5rem;
      }
    }
  }
}

// small screens
@media (min-width: 901px) {
  .wrapper {
    .how-to-use-it {
      .how-to-use-it-title {
        margin: 0 2.5rem 1rem 10rem;
      }
      .how-to-use-it-content {
        margin: 2rem 0 0 10rem;
      }
    }
  }
}

// normal and big screens
@media (min-width: 1101px) {
  .wrapper {
    .how-to-use-it {
      position: relative;
      .how-to-use-it-title {
        margin: 0 2.5rem 1rem 10rem;
      }
    }
  }
}

@media (max-width: 1350px) {
  .how-to-use-it-video {
    display: none;
  }
}

@media (min-width: 1351px) {
  .wrapper {
    .how-to-use-it {
      position: relative;
      .how-to-use-it-video {
        position: absolute;
        border: none;
        top: 9rem;
        right: 15rem;
        .videoapp {
          border-radius: 1rem 1rem 0 0;
        }
      }
    }
  }
}
