.wrapper {
  .myclimate {
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-globe-europe {
      color: #29b3c1;
      text-align: center;
    }
    .myclimate-img {
      text-align: center;
    }
    .myclimate-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

// extra-small screens
@media (max-width: 900px) {
  .wrapper {
    .myclimate {
      flex-direction: column-reverse;
      padding: 80px 20px 80px 20px;
    }
  }
}

// small screens
@media (min-width: 901px) {
  .wrapper {
    .myclimate {
      padding: 100px 50px 100px 50px;
    }
  }
}

// normal and big screens
@media (min-width: 1201px) {
  .wrapper {
    .myclimate {
      padding: 125px 200px 125px 200px;
      .myclimate-img {
        width: 40%;
      }
      .myclimate-content {
        width: 60%;
      }
    }
  }
}
