.wrapper {
  .myclimate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafa;
    .fa-globe-europe {
      color: #29b3c1;
      text-align: center;
      font-size: 25rem;
    }
    .myclimate-img {
      text-align: center;
    }
    .myclimate-content {
      align-items: left;
      text-align: left;
    }
  }
}

// extra-small screens
@media (max-width: 900px) {
  .wrapper {
    .myclimate {
      flex-direction: column-reverse;
      padding: 8rem 3rem;
    }
  }
}

// small screens
@media (min-width: 901px) {
  .wrapper {
    .myclimate {
      padding: 10rem 5rem;
      .myclimate-img {
        width: 40%;
      }
      .myclimate-content {
        width: 60%;
      }
    }
  }
}

// normal and big screens
@media (min-width: 1201px) {
  .wrapper {
    .myclimate {
      padding: 10rem 15rem;
      .myclimate-img {
        width: 70%;
      }
    }
  }
}
