.wrapper {
  .planet {
    display: flex;
    flex-direction: column;
    position: relative;
    .planet-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      width: 100%;
      .planet-title-details {
        text-align: left;
        font-weight: bold;
        padding: 0 1rem;
      }
      .focus-text {
        color: white;
        position: relative;
        display: inline-block;
        z-index: 0;
        .underline {
          position: absolute;
          z-index: -1;
          left: -0.5rem;
          right: -0.5rem;
          bottom: -0.2rem;
          height: 0;
          border-radius: 0.5rem;
        }
      }
      h2 {
        width: 100%;
      }
      p {
        width: 100%;
        text-align: left;
      }
    }
    .planet-image {
      text-align: center;
      max-width: 40rem;
      padding: 2rem;
    }
  }
}

@media (max-width: 500px) {
  .planet-content {
    flex-direction: column;
    padding: 2rem 1rem 0rem 1rem;
    .planet-image {
      height: 25rem;
    }
  }
}

@media (min-width: 501px) {
  .planet-content {
    padding: 2rem 3rem 0rem 3rem;
    .planet-image {
      height: 40rem;
    }
  }
}

@media (max-width: 900px) {
  .planet {
    flex-direction: column;
    .planet-image {
      max-width: 100vw;
    }
  }
}

@media (min-width: 901px) {
  .planet {
    width: 100%;
    .planet-image {
      width: 45%;
    }
    .planet-content {
      width: 55%;
    }
  }
}


@media (max-width: 500px) {
  .planet-content {
    .underline {
      border: 1.8rem solid #427103;
    }
  }
}


@media (min-width: 501px) {
  .planet-content {
    flex-direction: column;
    padding: 2rem 3rem 0rem 3rem;
    .simple-solution-title-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -5rem;
    }
    .underline {
      border: 2rem solid #85bf82;
    }
  }
}

@media (min-width: 901px) {
  .planet-content {
    flex-direction: row;
    .planet-title-details {
      width: 55%;
      margin-bottom: 10rem;
    }
    .planet-image {
      width: 45%;
    }
  }
}
@media (min-width: 1201px) {
  .planet-content {
    padding: 10rem 15rem 0rem 15rem;
  }
}