.wrapper {
  .myclimate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    .earth-image {
      text-align: center;
      max-width: 40rem;
      height: 50rem;
    }
    .myclimate-content {
      text-align: left;
      p {
        font-weight: bold;
      }
    }
  }
}

// extra-small screens
@media (max-width: 900px) {
  .wrapper {
    .myclimate {
      flex-direction: column-reverse;
      padding: 0rem 3rem 2rem 3rem;
      .earth-image {
        max-width: 100vw;
      }
      .myclimate-content {
        max-width: 55rem;
      }
    }
  }
}

// small screens
@media (min-width: 901px) {
  .wrapper {
    .myclimate {
      padding: 0rem 3rem 2rem 3rem;
      .earth-image {
        width: 45%;
      }
      .myclimate-content {
        width: 55%;
      }
    }
  }
}

// normal and big screens
@media (min-width: 1201px) {
  .wrapper {
    .myclimate {
      padding: 0rem 15rem 2rem 15rem;
    }
  }
}
