.wrapper {
  .simple-solution {
    display: flex;
    flex-direction: column;
    position: relative;
    .simple-solution-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      .simple-solution-title-details {
        text-align: left;
        font-weight: bold;
        padding: 0 1rem;
        .focus-text { 
          color: white;
          position: relative;
          display: inline-block;
          .underline {
            position: absolute;
            z-index: -1;
            left: -0.5rem;
            right: -0.5rem;
            bottom: -0.2rem;
            height: 0;
            border-radius: 0.5rem;
          }
        }
        h2 {
          width: 100%;
        }
        p {
          width: 100%;
          text-align: left;
        }
      }
      .simple-solution-image {
        max-width: 40rem; 
      }
    }
    .testimonials {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .testimonial-card {
        position: relative;
        padding: 2.5rem;
        margin: 2rem;
        border-radius: 0.5rem;
        background-color: #fcfcfc;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        transition-duration: 0.5s;
        &:hover {
          transform: scale(1.01);
        }
        p {
          font-size: 1.4rem;
          font-weight: bold;
          color: #808080;
        }
        .user-name {
          position: absolute;
          bottom: 0.5rem;
          right: 1rem;
          padding-top: 2rem;
          font-size: 1.2rem;
          font-weight: bold;
          color: #ff9e00;
        }
        .yellow-marker-image {
          position: absolute;
          top: -1rem;
          right: -1rem;
          height: 3rem;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .blue-light-shape {
  position: absolute;
  top: 3rem;
  right: 2rem;
  z-index: -1;
  width: 3rem;
  transform: rotate(-90deg);
  }
  .simple-solution-content {
    flex-direction: column;
    padding: 2rem 1rem 0rem 1rem;
    .simple-solution-title-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -5rem;
      p {
        text-align: center;
      }
      .underline {
      border: 1.3rem solid #ff9e00;
      }
    }
    .simple-solution-image {
      height: 30rem;
    }
  }
  .testimonials {
    flex-wrap: wrap;
    padding: 2rem 0.5rem;
  }
  .focus-text {
    .underline {
      border: 1.3rem solid white;
    }
  }
}

@media (min-width: 301px) {
  .blue-light-shape {
    position: absolute;
    top: 3rem;
    right: 2rem;
    z-index: -1;
    width: 5rem;
    transform: rotate(-90deg);
  }
  .simple-solution-content {
    flex-direction: column;
    padding: 2rem 1rem 0rem 1rem;
    .simple-solution-title-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -5rem;
      p {
        text-align: center;
      }
      .underline {
      border: 1.8rem solid #ff9e00;
      }
    }
    .simple-solution-image {
      height: 30rem;
    }
  }
  .testimonials {
    flex-wrap: wrap;
    padding: 2rem 1rem;
  }
}

@media (min-width: 501px) {
  .blue-light-shape {
    position: absolute;
    top: 3rem;
    right: 2rem;
    z-index: -1;
    width: 10rem;
    transform: rotate(-90deg);
  }
  .simple-solution-content {
    flex-direction: column;
    padding: 2rem 3rem 0rem 3rem;
    .simple-solution-title-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -5rem;
      p {
        text-align: center;
      }
      .underline {
      border: 2rem solid #ff9e00;
      }
    }
    .simple-solution-image {
      height: 50rem;
    }
  }
  .testimonials {
    flex-wrap: wrap;
    padding: 0 5rem;
  }
}

@media (min-width: 901px) {
  .simple-solution-content {
    flex-direction: row;
    .simple-solution-title-details {
      width: 55%;
      margin-bottom: 10rem;
    }
    .simple-solution-image {
      width: 45%;
    }
  }
  .testimonials {
    flex-wrap: nowrap;
    padding: 0 10rem;
    margin-top: -7rem;
  }
}

@media (min-width: 1201px) {
  .simple-solution-content {
    padding: 5rem 15rem 0rem 15rem;
  }
}
