.wrapper {
  position: relative;
  .why-to-use-it {
    display: flex;
    margin-top: 5rem;
    .why-to-use-it-text {
      .why-to-use-it-title {
        .focus-text {
          color: white;
          position: relative;
          display: inline-block;
          z-index: 0;
          .underline {
            position: absolute;
            z-index: -1;
            left: -0.5rem;
            right: -0.5rem;
            bottom: -0.2rem;
            height: 0;
            border-radius: 0.5rem;
          }
        }
      }
      .why-to-use-it-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;
        .why-to-use-it-content-card {
          display: flex;
          align-items: flex-start;
          width: 100%;
          padding: 0 1rem;
          color: #19a6ee;
          .why-to-use-it-number {
            width: 25%;
            text-align: center;
          }
          .why-to-use-it-details {
            text-align: left;
            width: 75%;
            p {
              font-weight: bold;
            }
          }
        }
      }
    }
    .why-to-use-it-gif {
      z-index: -2;
    }
  }
}

@media (orientation: landscape) {
  .why-to-use-it {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 300px) and (orientation: landscape) {
  .why-to-use-it {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    .why-to-use-it-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .why-to-use-it-gif {
      width: 100%;
      text-align: center;
      .happy-cats {
        max-width: 40rem;
      }
    }
  }
}

@media (orientation: portrait) {
  .why-to-use-it {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 320px) and (orientation: portrait) {
  .why-to-use-it {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    .why-to-use-it-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .why-to-use-it-gif {
      width: 100%;
      text-align: center;
      .happy-cats {
        width: 100%;
      }
    } 
  }
  .why-to-use-it-text {
    .why-to-use-it-title {
      .focus-text {
        .underline {
          border: 1.5rem solid #19a6ee;
        }
      }
    }
  }
}

@media (min-width: 321px) and (orientation: portrait) {
  .why-to-use-it {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    .why-to-use-it-title {
      .focus-text {
        .underline {
          border: 1.5rem solid #19a6ee;
        }
      }
    }
    .why-to-use-it-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .why-to-use-it-gif {
      width: 100%;
      text-align: center;
      .happy-cats {
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .green-shape {
    display: none;
  }
  .yellow-shape {
  display: none;
  }
  .why-to-use-it-text {
    .why-to-use-it-title {
      .focus-text {
        .underline {
          border: 1.5rem solid #19a6ee;
        }
      }
    }
  }
}


@media (min-width: 501px) {
  .green-shape {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: -1;
    width: 7rem;
    transform: rotate(-25deg);
  }
  .yellow-shape {
    position: absolute;
    top: 0;
    left: 2rem;
    z-index: -1;
    width: 15rem;
    transform: rotate(-80deg);
  }
  .why-to-use-it-text {
    .why-to-use-it-title {
      .focus-text {
        .underline {
          border: 2rem solid #19a6ee;
        }
      }
    }
  }
}

@media (min-width: 901px) and (orientation: portrait) {
  .why-to-use-it {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10rem 5rem 10rem 5rem;
    .why-to-use-it-text {
      width: 60%;
    }
    .why-to-use-it-gif {
      width: 40%;
    }
  }
}

@media (min-width: 1201px) {
  .why-to-use-it {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem 7rem 12rem 7rem;
    .why-to-use-it-text {
      width: 60%;
    }
    .why-to-use-it-gif {
      width: 40%;
      text-align: center;
    }
  }
}