.wrapper {
  .travel-comparator {
    display: none;
  }
  .why-to-use-it {
    display: flex;
    padding: 2rem;
    .why-to-use-it-text {
      .why-to-use-it-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          color: #29b3c1;
        }
        .why-to-use-it-content-card {
          display: flex;
          align-items: flex-start;
          width: 100%;
          .why-to-use-it-number {
            width: 30%;
            text-align: center;
          }
          .why-to-use-it-details {
            text-align: left;
            width: 70%;
          }
        }
      }
    }
  }
}

// landscape
@media (orientation: landscape) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

// small mobile screens landscape
@media (min-width: 500px) and (orientation: landscape) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      .why-to-use-it-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .why-to-use-it-gif {
        width: 100%;
        text-align: center;
        .why-to-use-it-video {
          max-width: 40rem;
        }
      }
    }
  }
}

// portrait
@media (orientation: portrait) {
  .wrapper {
    .valueprop {
      .why-to-use-it {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// small mobile screens portrait
@media (max-width: 320px) and (orientation: portrait) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      .why-to-use-it-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .why-to-use-it-gif {
        width: 100%;
        text-align: center;
        .why-to-use-it-video {
          max-width: 30rem;
        }
      }
    }
  }
}

// mobile screens portrait
@media (min-width: 321px) and (orientation: portrait) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      .why-to-use-it-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .why-to-use-it-title {
        }
      }
      .why-to-use-it-gif {
        width: 100%;
        text-align: center;
        .why-to-use-it-video {
          max-width: 33rem;
        }
      }
    }
  }
}

// tablet screens portrait
@media (min-width: 1000px) and (orientation: portrait) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10rem 5rem 10rem 5rem;
      .why-to-use-it-text {
        width: 60%;
      }
      .why-to-use-it-gif {
        width: 40%;
      }
    }
  }
}

// laptop and computer screens
@media (min-width: 1201px) {
  .wrapper {
    .why-to-use-it {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 2.5rem 5rem 2.5rem;
      .why-to-use-it-text {
        width: 60%;
      }
      .why-to-use-it-gif {
        width: 40%;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1601px) {
  .wrapper {
    .why-to-use-it {
      margin: 0 5rem 15rem 5rem;
    }
  }
}
