.MuiAlert-filledInfo {
    margin-top: 7rem;
    background-color: #19a6ee !important;
}

.MuiAlert-filledError {
    background-color: #ff9e00 !important;
    margin-top: 7rem;
}

.MuiAlert-filledSuccess {
    margin-top: 7rem;
    background-color: #427103 !important;
}