.location-search-input {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
      form {
        height: 6rem;
        margin: 0.5rem;
        .inp {
          position: relative;
          overflow: hidden;
          width: 100%;
          z-index: 1;
          color: transparent;
          .suggestions-form {
            color: #181f23;
          }
          .classic-city-departure-input {
            height: 6rem;
            border: solid white;
            border-radius: 0.5rem;
            width: 100%;
            padding-left: 2rem;
            padding-top: 2rem;
            background: transparent;
            transition: all 0.5s ease;
            background-color: #f7f7f7;
            border: solid 0.1rem #e7e7e7;
            &:focus {
              outline: none;
              background: rgba(0, 0, 0, 0.02);
              border: solid white;
              font-size: 1.4rem;
              font-weight: bold;
              color: #181f23;
              background-color: white;
              + {
                .arrow-and-label {
                  .label {
                    -webkit-transform: translate3d(0, -12px, 0) scale(0.75);
                    transform: translate3d(5px, -12px, 0) scale(0.75);
                  }
                  .fa-map-marker-alt {
                    color: #ffdB5b;
                  }
                }
              }
            }
          }
          .fa-map-marker-alt {
            color: #c9c9c9;
          }
          .label {
            position: absolute;
            top: 2rem;
            left: 0;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            pointer-events: none;
            font-family: 'roboto' sans-serif;
            font-weight: bold;
            color: #676d70;
          }
          i {
            position: absolute;
            top: 2rem;
            right: 1rem;
            z-index: 1;
            color: #dce3e9;
          }
          .cities-proposal {
            margin-top: 1rem;
            :first-child {
              border-radius: 1rem 1rem 0 0;
            }
            :last-child {
              border-radius: 0 0 1rem 1rem;
            }
          }
        }
        .city.autocomplete > .inp {
          position: relative;
          .cities-proposal {
            position: absolute;
            padding-bottom: 5rem;
            width: 100%;
           
          }
        }
      }
    }
    
    @media (max-width: 300px) {
      .inp {
        max-width: 80vw;
      }
      .label {
        font-size: 1.6rem;
        padding-left: 1rem;
      }
    }
    
    @media (min-width: 301px) {
      .label {
        font-size: 1.6rem;
        padding-left: 2rem;
      }
    }