.classic-search-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    background-color: white;
  }
  .classic-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    .btn-back {
      background-color: transparent;
      border: none;
    }
    .classic-searchbar-question {
      height: 6rem;
      max-height: 6rem;
      width: calc(100% - 1rem);
      margin: 0.5rem;
      background-color: #f7f7f7;
      border: solid 0.1rem #e7e7e7;
      color: #181f23;
      border-width: 0.1rem;
      border-radius: 0.5rem;
      text-align: left;
      font-weight: 700;
      .input-travelers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        padding-left: 2rem;
        .people-number-change {
          .fa-minus-square {
            color: #c9c9c9;
            padding: 1rem;
            cursor: pointer;
            &:hover {
              color: #676d70;
            }
          }
          .fa-plus-square {
            color: #c9c9c9;
            padding: 1rem;
            cursor: pointer;
            &:hover {
              color: #676d70;
            }
          }
          .number-of-travelers {
            font-weight: bold;
            color: #181f23;
          }
        }
      }
    }
  }
  .classic-criteria {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .criteria-buttons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .criteria-btn {
        height: 3.5rem;
        border-radius: 0.5rem;
        margin: 0 0.5rem;
        font-size: 1.4rem;
        background-color: white;
        border: solid 0.1rem #e7e7e7;
        color: #c9c9c9;
        font-weight: bold;
        transition: ease 0.2s;
        &:hover {
          border: solid 0.1rem #676d70;
          color: #676d70;
        }
      }
      .criteria-btn-active {
        border: solid 0.1rem #ffdB5b;
        background-color: #ffdB5b;
        color: #181f23;
        &:hover {
          border: solid 0.1rem #ffdB5b;
          color: #181f23;
        }
      }
    }
  }
  .classic-search-criteria-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5rem;
    .classic-search-criteria-confirma-btn {
      height: 6rem;
      border-radius: 0.5rem;
      color: white;
      background-color: #19a6ee;
      font-size: 1.6rem;
      transition: ease 0.2s;
      &:disabled {
        opacity: 1;
        background-color: #ebebeb;
        color: #181f23;
        cursor: not-allowed;
            &:hover {
            background-color:#ebebeb;
            }
        }
        &:hover {
            background-color:#1783cc;
            transition: ease 0.2s;
        }
        }
    }
  
  @media (max-width: 300px) {
    .classic-searchbar-question {
      font-size: 1.6rem;
    }
  }
  
  @media (max-width: 500px) {
    .classic-searchbar-question {
      font-size: 1.6rem;
    }
    .classic-searchbar {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-top: 1rem;
    }
    .classic-criteria {
      padding: 0;
      align-items: center;
      .criteria-buttons {
        justify-content: center;
      }
    }
  }
  
  @media (min-width: 500px) {
    .classic-searchbar {
      .btn-back {
        margin-right: 1rem;
      }
    }
    .classic-criteria {
      align-items: flex-start;
      .criteria-buttons {
        justify-content: flex-start;
      }
    }
  }
  
  @media (max-width: 1200px) {
    .classic-search-screen {
      height: 100%;
      border-radius: 0 0 0.5rem 0.5rem;
      padding-top: 2.5rem;
    }
    .classic-search-criteria-confirma-btn {
      width: 100%;
    }
    .classic-searchbar {
      padding-left: 1rem;
      padding-right: 1rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
      .btn-back {
        margin-bottom: 2rem;
      }
    }
    .classic-criteria {
      position: absolute;
      top: 2.5rem;
      left: 4.2rem;
    }
    .img-classic-formsearch-div {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    .img-classic-formsearch {
        max-width: 100%;
        width: 40rem;
        text-align: center;
      }
    }
  }
  
  @media (min-width: 1201px) {
    .classic-search-screen {
      max-height: 100%;
    }
    .classic-search-criteria-confirma-btn {
      width: 100%;
    }
    .classic-searchbar {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .classic-criteria {
      width: 100%;
      padding-left: 5.2rem;
      padding-right: 5.2rem;
    }
    .img-classic-formsearch {
      display: none;
    }
  }