.wrapper {
    .airlines-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        img {
            margin: 0 1rem;
            width: 10rem;
        }
        span {
            font-family: 'Paytone One', sans-serif;;
            font-size: 1.6rem;
            color: #606060;
            margin-left: 2rem;
        }
    }
}