  .banner {
   display: flex;
   justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 7rem;
    .valueprop {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      .valueprop-title-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100rem;
       //max-width: 95vw;
        margin: 0.5rem;
        .valueprop-title {
          text-align: center;
        }
        span {
          font-weight: 'PT Sans', sans-serif;
          text-align: center;
          font-weight: bold;
          color: #4c4c4c;
        }
      }
     
    }
    .formsearch-banner {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .banner-background {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      min-height: 40rem;
    }
    img {
      width: 100%;
      height: 100%;;
    }
  }
  
  @media (max-width: 640px) {
    .banner {
      min-height: calc(100vh - 7rem);
      .valueprop {
        top: 0rem;
        .valueprop-title-details {
          .valueprop-details {
            display: none;
          }
          .valueprop-details-mobile {
            padding: 0 1rem;
            font-size: 1.4rem;
          }
        }
      }
      .formsearch-banner {
        top: 14rem;
      }
      .banner-background {
        .banner-1 {
         display: none;
        }
        .banner-2 {
          padding-top: 45rem;
         height: 100vh;
        }
      }
    }
  }
  
  @media (min-width: 641px) {
    .valueprop {
      top: 0rem;
      .valueprop-title-details {
        .valueprop-details {
          font-size: 1.6rem;
        }
        .valueprop-details-mobile {
          display: none;
        }
      }
    }
    .formsearch-banner {
      top: 14rem;
    }
    .banner-background {
      .banner-1 {
        padding: 0rem 5rem 0 10rem;
        height: 45vh;
      }
      .banner-2 {
        padding: 2rem;
        height: calc(55vh - 7rem);
        
      }
    }
  }

  