.register-form {
  display: flex;
  justify-content: center;
  align-items: space-around;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  max-width: 99vw;
  border-radius: 1rem;
  font-size: 1.6rem;
  &:focus {
    transition-duration: 0.5s;
    outline: 0;
  }
  .input-newsletter {
    height: 5rem;
    min-width: 26rem;
    flex-grow: 2;
    border: solid white;
    border-width: 0.1rem;
    border-radius: 1rem;
    margin: 0.2rem;
    padding-left: 2.5rem;
    text-align: left;
    font-size: 1.6rem;
    color: #4c4c4c;
    font-weight: 700;
    &::placeholder {
      color: #4c4c4c;
      font-weight: 700;
    }
    &:hover {
      background-color: #f9f9f9;
    }
    &:focus {
      outline: none;
    }
  }
  .btn-newsletter {
    height: 5rem;
    min-width: 7rem;
    padding: 0 2rem;
    border-radius: 1rem;
    margin: 0.2rem;
    border: none;
    background-color: #19a6ee;
    color: white;
    font-weight: 700;
    &:hover {
      transition: background-color 0.5s;
      background-color: #41B6F1;
    }
    &:focus {
      outline: none;
    }
  }
}

.swal2-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 5rem;
  .swal2-title {
    font-size: 1.6rem;
  }
  .swal2-content {
    font-size: 1.4rem;
  }
  .swal2-icon.swal2-success {
    border-color: #3e936f;
    color: #3e936f;
    border-width: 0.3rem;
    .swal2-success-line-tip {
      background-color: #3e936f;
    }
    .swal2-success-line-long {
      background-color: #3e936f;
    }
    .swal2-success-ring {
      border-color: #3e936f;
      color: #3e936f;
      border-width: 0.3rem;
    }
  }
  .swal2-icon.swal2-info {
    border-color: #29b3c1;
    color: #29b3c1;
    border-width: 0.3rem;
  }
  .swal2-icon.swal2-error {
    border-color: #f49d11;
    color: #f49d11;
    border-width: 0.3rem;

    .swal2-x-mark-line-left {
      background-color: #f49d11;
    }
    .swal2-x-mark-line-right {
      background-color: #f49d11;
    }
  }
}

@media (max-width: 600px) {
  .register-form {
    flex-direction: column;
  }
}