.register-form {
  display: flex;
  justify-content: center;
  align-items: space-around;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  max-width: 97vw;
  border-radius: 1rem;
  font-size: 1.6rem;
  max-width: 100vw;
  &:focus {
    transition-duration: 0.5s;
    outline: 0;
  }
  .input-newsletter {
    height: 5rem;
    width: 100%;
    margin: 2rem 0;
    flex-grow: 2;
    border: solid white;
    border-width: 0.1rem;
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0 2.5rem;
    text-align: left;
    font-size: 1.6rem;
    color: #4c4c4c;
    font-weight: 700;
    &::placeholder {
      text-align: center;
      color: #4c4c4c;
      font-weight: 700;
    }
    &:hover {
      background-color: #f9f9f9;
    }
    &:focus {
      outline: none;
    }
  }
  .btn-newsletter {
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    margin: 0.2rem;
    border: none;
    background-color: #19a6ee;
    color: white;
    font-weight: 700;
    &:hover {
      transition: background-color 0.5s;
      background-color: #41B6F1;
    }
    &:focus {
      outline: none;
    }
  }
}

.swal2-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 5rem;
  .swal2-title {
    font-size: 1.8rem;
  }
  .swal2-content {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .swal2-icon.swal2-success {
    border-color: #85bf82;
    color: #85bf82;
    border-width: 0.3rem;
    .swal2-success-line-tip {
      background-color: #85bf82;
    }
    .swal2-success-line-long {
      background-color: #85bf82;
    }
    .swal2-success-ring {
      border-color: #85bf82;
      color: #85bf82;
      border-width: 0.3rem;
    }
  }
  .swal2-icon.swal2-info {
    border-color: #6dd3fd;
    color: #6dd3fd;
    border-width: 0.3rem;
  }
  .swal2-icon.swal2-error {
    border-color: #ffdb5b;
    color: #ffdb5b;
    border-width: 0.3rem;

    .swal2-x-mark-line-left {
      background-color: #ffdb5b;
    }
    .swal2-x-mark-line-right {
      background-color: #ffdb5b;
    }
  }
}

@media (max-width: 400px) {
  .register-form {
    flex-direction: column;
    .input-newsletter {
      min-width: 25rem;
    }
  }
  .swal2-popup {
    min-width: 90vw;
  }
}

@media (min-width: 401px) {
  .register-form {
    flex-direction: column;
    .input-newsletter {
    min-width: 45rem;
    }
  }
  .swal2-popup {
    min-width: 50vw;
  }
}