.register-form {
  display: flex;
  justify-content: center;
  align-items: space-around;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
  max-width: 97vw;
  border-radius: 1rem;
  font-size: 1.6rem;
  max-width: 100vw;
  &:focus {
    transition-duration: 0.5s;
    outline: 0;
  }
  .subscribe-newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    background-color: white;
    border: solid 1px #e7e7e7;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.3rem rgba(76, 76, 76, 0.05), 0 0.2rem 0.4rem rgba(76, 76, 76, 0.05);
    padding: 0 1rem;
    height: 6rem;
    .input-newsletter {
      width: 80%;
      height: 4rem;
      background-color: white;
      font-weight: bold;
      overflow-y: scroll;
      text-align: left;
      color: #ff9e00;
      width: 100%;
      border: 0;
      &:hover {
        outline: none;
      }
      &:focus {
        outline: none;
      } &::placeholder {
        color: #ff9e00;
      }
    }
    .btn-newsletter {
      min-width: 10rem;
      height: 4rem;
      border-radius: 0.5rem;
      background-color: #6dd3fd;
      color: white;
      font-weight: bold;
      &:hover {
        background-color: #41B6F1;
        transition: ease 0.2s;
      }
    }
  }
}

.swal2-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem 5rem;
  .swal2-title {
    font-size: 1.8rem;
  }
  .swal2-content {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .swal2-icon.swal2-success {
    border-color: #85bf82;
    color: #85bf82;
    border-width: 0.3rem;
    .swal2-success-line-tip {
      background-color: #85bf82;
    }
    .swal2-success-line-long {
      background-color: #85bf82;
    }
    .swal2-success-ring {
      border-color: #85bf82;
      color: #85bf82;
      border-width: 0.3rem;
    }
  }
  .swal2-icon.swal2-info {
    border-color: #6dd3fd;
    color: #6dd3fd;
    border-width: 0.3rem;
  }
  .swal2-icon.swal2-error {
    border-color: #ffdb5b;
    color: #ffdb5b;
    border-width: 0.3rem;

    .swal2-x-mark-line-left {
      background-color: #ffdb5b;
    }
    .swal2-x-mark-line-right {
      background-color: #ffdb5b;
    }
  }
}

@media (max-width: 400px) {
  .register-form {
    flex-direction: column;
    .subscribe-newsletter {
      min-width: 25rem;
    }
  }
  .swal2-popup {
    min-width: 90vw;
  }
}

@media (min-width: 401px) {
  .register-form {
    flex-direction: column;
    .subscribe-newsletter {
    min-width: 45rem;
    }
  }
  .swal2-popup {
    min-width: 50vw;
  }
}