.search {
  .travel-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .travel-options-details {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      .travel-type {
        button.travel-type-btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 10rem;
          padding: 1rem;
          border-radius: 1rem;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: #29b3c1;
          color: white;
          font-weight: bold;
        }
        .travel-type-change {
          position: absolute;
          border-radius: 2rem;
          width: 10rem;
          z-index: 1;
          box-shadow: rgba(37, 42, 49, 0.16) 0px 4px 8px 0px,
            rgba(37, 42, 49, 0.24) 0px 8px 24px 0px;
          a {
            background-color: white;
            display: flex;
            justify-content: left;
            align-items: center;
            cursor: pointer;
            color: #262626;
            text-decoration: none;
            .check-box {
              min-width: 3rem;
              .fa-check {
                color: #29b3c1;
              }
            }
          }
        }
      }
    }
    button.stop-trip-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 10rem;
      padding: 1rem;
      border-radius: 1rem;
      margin-left: 1rem;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: #29b3c1;
      color: white;
      font-weight: bold;
    }
    .stop-trip-change {
      position: absolute;
      z-index: 1;
      margin-left: 1rem;
      border-radius: 2rem;
      width: 10rem;
      box-shadow: rgba(37, 42, 49, 0.16) 0px 4px 8px 0px, rgba(37, 42, 49, 0.24) 0px 8px 24px 0px;
      a {
        background-color: white;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        color: #262626;
        text-decoration: none;
        .check-box {
          min-width: 3rem;
          .fa-check {
            color: #29b3c1;
          }
        }
      }
    }
  }
  .inputdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    width: 100%;
    .inputdatefrom {
      cursor: pointer;
      text-align: left;
      height: 4.5rem;
      border: solid #dce3e9;
      border-width: 0.2rem;
      border-radius: 1rem;
      width: 100%;
      margin-bottom: 1rem;
      padding-left: 2rem;
      font-size: 1.4rem;
      font-family: 'roboto' sans-serif;
      font-weight: bold;
      color: #262626;
      &:focus {
        outline: none;
      }
    }

    .inputdateto {
      cursor: pointer;
      text-align: left;
      height: 4.5rem;
      border: solid #dce3e9;
      border-width: 0.2rem;
      border-radius: 1rem;
      width: 100%;
      padding-left: 2rem;
      font-size: 1.4rem;
      font-family: 'roboto' sans-serif;
      font-weight: bold;
      color: #262626;
      &:focus {
        outline: none;
      }
    }
  }
  ::placeholder {
    color: #dce3e9;
  }

  .calendar {
    position: absolute;
    bottom: 0;
    margin: 0 1rem;
    padding: 1rem;
    z-index: 2;
    transition: all 0.15s ease-in-out 0s;
    .btn-date {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4.5rem;
      border-radius: 5rem;
      width: 95%;
      margin: 1rem;
      color: white;
      background: #3e936f;
      transition: background 0.3s ease;
      &:hover {
        background: #429882;
        color: white;
      }
    }
    .react-calendar {
      padding: 1.5rem;
      border: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 2.5rem;
      button[disabled] {
        color: #dce3e9;
      }
      .react-calendar__tile {
        margin-bottom: 0.5rem;
      }
      .react-calendar__tile--now {
        color: #262626;
        font-weight: bold;
      }
      .react-calendar__navigation {
        height: 4rem;
        border-radius: 2.5rem 2.5rem 0 0;
        color: #f49d11;
        font-size: 1.4rem;
        font-weight: bold;
        font-weight: button[disabled] {
          background-color: white;
        }
        button.react-calendar__navigation__label {
          background-color: white;
          pointer-events: none;
        }
      }
      button.react-calendar__navigation__arrow {
        background-color: white;
      }
    }
    .react-calendar__tile:disabled {
      background-color: transparent;
    }
    .react-calendar__month-view__weekdays,
    .react-calendar__month-view__days__day--neighboringMonth {
      height: 3rem;
      color: #f49d11;
      & abbr {
        border-bottom: none;
        text-decoration: none;
      }
    }
    .react-calendar__month-view__days__day {
      color: #5f5f5f;
    }
    .react-calendar__tile--active {
      color: white;
      background-color: #53c2cd;
      border-radius: 0;
    }
    .react-calendar__tile--hover {
      background-color: #f7fbfc;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      background-color: #53c2cd;
      color: white;
    }
    .react-calendar__tile--rangeStart {
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
    }
    .react-calendar__tile--rangeEnd {
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
    }
    .react-calendar__viewContainer {
      padding-bottom: 5rem;
    }
  }
}
