.search {
  .travel-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .travel-options-details {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 3rem;
      .travel-type {
        button.travel-type-btn {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 10rem;
          border: none;
          outline: none;
          cursor: pointer;
        }
        .travel-type-change {
          position: absolute;
          border-radius: 2rem;
          width: 10rem;
          z-index: 1;
          box-shadow: rgba(37, 42, 49, 0.16) 0px 4px 8px 0px,
            rgba(37, 42, 49, 0.24) 0px 8px 24px 0px;
          a {
            background-color: white;
            display: flex;
            justify-content: left;
            align-items: center;
            cursor: pointer;
            color: #262626;
            text-decoration: none;
            .check-box {
              min-width: 3rem;
              .fa-check {
                color: #29b3c1;
              }
            }
          }
        }
      }
    }
    button.stop-trip-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      margin-left: 1rem;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .stop-trip-change {
      position: absolute;
      z-index: 1;
      margin-left: 1rem;
      border-radius: 2rem;
      width: 10rem;
      box-shadow: rgba(37, 42, 49, 0.16) 0px 4px 8px 0px, rgba(37, 42, 49, 0.24) 0px 8px 24px 0px;
      a {
        background-color: white;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        color: #262626;
        text-decoration: none;
        .check-box {
          min-width: 3rem;
          .fa-check {
            color: #29b3c1;
          }
        }
      }
    }
  }
  .inputdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 100%;
    .inputdatefrom {
      cursor: pointer;
      text-align: left;
      height: 5rem;
      border: solid #dce3e9;
      border-radius: 5rem;
      width: 100%;
      margin-bottom: 1rem;
      border-width: 0.1rem;

      &:focus {
        outline: none;
      }
    }
    .inputdateto {
      cursor: pointer;
      text-align: left;
      height: 5rem;
      border: solid #dce3e9;
      border-radius: 5rem;
      width: 100%;
      margin-bottom: 1rem;
      border-width: 0.1rem;
      &:focus {
        outline: none;
      }
    }
  }
  .btn-date {
    position: absolute;
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #3e936f;
    transition: background 0.3s ease;
    &:hover {
      background: #429882;
      color: white;
    }
  }
  .calendar {
    position: absolute;
    top: 80px;
    margin-left: 50px;
    z-index: 1;
    transition: all 0.15s ease-in-out 0s;
    .react-calendar {
      padding: 15px;
      border: none;
      box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      .react-calendar__tile {
        margin-top: 5px;
      }
      button[disabled] {
        color: #bfbfbf;
      }
      .react-calendar__tile--now {
        color: #44a7bc;
        font-weight: bold;
      }
      .react-calendar__navigation {
        margin: -15px -15px 15px;
        padding: 0 10px;
        background-color: #f5a741;
        font-size: 18px;
        color: #fff;
        button[disabled] {
          background-color: #f5a741;
          color: #f5a741;
        }
        button.react-calendar__navigation__label {
          background-color: #f5a741;
          pointer-events: none;
        }
      }
      button.react-calendar__navigation__arrow {
        background-color: #f5a741;
      }
    }
    .react-calendar__tile:disabled {
      background-color: transparent;
    }
    .react-calendar__month-view__weekdays,
    .react-calendar__month-view__days__day--neighboringMonth {
      color: #44a7bc;
      & abbr {
        border-bottom: none;
        text-decoration: none;
      }
    }
    .react-calendar__month-view__days__day {
      color: #353535;
    }
    .react-calendar__tile--active {
      color: white;
      background-color: #44a7bc;
    }
    .react-calendar__tile--hover {
      background-color: #f7fbfc;
      border-radius: none;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      background-color: #44a7bc;
      color: white;
    }
    .react-calendar__tile--rangeStart {
      color: white !important;
      font-weight: normal !important;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .react-calendar__tile--rangeEnd {
      color: white !important;
      font-weight: normal !important;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .react-calendar__viewContainer {
      padding-bottom: 50px;
    }
  }
}
