.react-calendar__viewContainer {
  padding: 0 !important;
}
.datespicker {
  position: relative;
  width: 100%;
  .inputdate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    color: #ff9e00;
      &:hover {
      .inputdate-bar {
        background-color: #f9f9f9;
      }
    }
    .inputdate-bar{
      height: 5rem;
      flex-grow: 2;
      cursor: pointer;
      border: solid #e7e7e7;
      background-color: #f7f7f7;
      border-width: 0.1rem;
      border-radius: 0.5rem;
      margin: 0.5rem;
      padding-left: 2rem;
      text-align: left;
      font-weight: 700;
      &::placeholder {
        color: #ff9e00;
        font-weight: 700;
      }
      &:hover {
        transition: ease 0.2s;
        background-color: white;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .calendar {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
    transition: all 0.15s ease-in-out 0s;
    .btn-date {
      width: 100%;
      height: 6.5rem;
      border-radius: 0.5rem;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 1rem;
      color: white;
      background: #4ac7fc;
      opacity: 1;
      font-size: 1.8rem;;
      font-weight: bold;
      &:hover {
        background: #6dd3fd;
        color: white;
        transition: ease 0.3s;
      }
    }
    .react-calendar {
      border: none;
      border-radius: 0.5rem;
      button[disabled] {
        color: #d6d6d6;
      }
      .react-calendar__navigation {
        color: #4c4c4c;
        font-weight: button[disabled] {
        background-color: white;
        }
        button.react-calendar__navigation__label {
          background-color: white;
          pointer-events: none;
        }
      }
      button.react-calendar__navigation__arrow {
        background-color: white;
        font-size: 2.5rem;
      }
    }
    .react-calendar__navigation__prev2-button {
      display: none;
    }
    .react-calendar__navigation__next2-button {
      display: none;
    }
    .react-calendar__tile:disabled {
      background-color: transparent;
    }
    .react-calendar__month-view__weekdays,
    .react-calendar__month-view__days__day--neighboringMonth {
      height: 4rem;
      color: #ff9e00;
      & abbr {
        border-bottom: none;
        text-decoration: none;
      }
    }
    .react-calendar__month-view__days__day {
      color: #4c4c4c;
      background-color: white;
    }
    .react-calendar__tile {
      padding: 1.3rem 0;
    }
    .react-calendar__tile--active {
      color: white;
      background-color: #ff9e00;
      border-radius: 0;
    }
    .react-calendar__tile--hover {
      background-color: #f4f4f4;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      background-color: #ff9e00;
      color: white;
    }
    .react-calendar__tile--rangeStart {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
    .react-calendar__tile--rangeEnd {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    .react-calendar__viewContainer {
      padding-bottom: 5rem;
    }
  }
}

@media (max-width: 500px) {
  .inputdate-bar {
    font-size: 1.4rem;
  }
  .calendar {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1.2rem;
    margin-top: -0.8rem;
  }
}

@media (min-width: 501px) {
  .inputdate-bar {
    font-size: 1.6rem;
  }
  .calendar {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 900px) {
  .calendar {
    height: 100vh;
    width: 100vw;
    left: -5.5rem;
    .react-calendar {
      width: 100%;
      height: 100%;
      .react-calendar__tile {
        height: 4rem;
        margin: 1rem 0;
      }
      .react-calendar__navigation {
        height: 6rem;
      } 
    }
  }
}


@media (min-width: 901px) {
  .calendar {
    width: 100vw;
    height: 65vh;
    min-height: 45rem;
    left: 0;
    left: -5.5rem;
    .react-calendar {
      width: 100%;
      height: 100%;
      .react-calendar__tile {
        height: 2rem;
        margin: 0.8rem 0;
      }
      .react-calendar__navigation {
        height: 5rem;
      } 
    }
  }
}