.datespicker {
  position: relative;
  width: 100%;
  .inputdate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
      &:hover {
      .inputdatefrom {
        background-color: #f9f9f9;
      }
      .inputdateto {
        background-color: #f9f9f9;
      }
    }
    .inputdatefrom {
      height: 5rem;
      flex-grow: 2;
      width: 50%;
      cursor: pointer;
      border: solid #e7e7e7;
      border-width: 0.1rem;
      border-radius: 1rem;
      margin: 0.5rem;
      padding-left: 2rem;
      text-align: left;
      font-weight: 700;
      &::placeholder {
        color: #4c4c4c;
        font-weight: 700;
      }
      &:hover {
        background-color: #f9f9f9;
      }
      &:focus {
        outline: none;
      }
    }
    .inputdateto {
      width: 50%;
      height: 5rem;
      flex-grow: 2;
      cursor: pointer;
      border: solid #e7e7e7;
      border-width: 0.1rem;
      border-radius: 1rem;
      margin: 0.5rem;
      padding-left: 2rem;
      text-align: left;
      font-weight: 700;
      &::placeholder {
        color: #4c4c4c;
        font-weight: 700;
      }
      &:hover {
        background-color: #f9f9f9;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .calendar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 0.15s ease-in-out 0s;
    .btn-date {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      height: 4.5rem;
      border-radius: 1rem;
      width: 95%;
      color: white;
      background: #19a6ee;
      transition: background 0.3s ease;
      font-family: 'PT sans', sans-serif;
      font-size: 1.6rem;;
      font-weight: bold;
      
      &:hover {
        background: #41B6F1;
        color: white;
      }
    }
    .react-calendar {
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      border: none;
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
      border-radius: 2.5rem;
      button[disabled] {
        color: #d6d6d6;
      }
      .react-calendar__tile {
        margin-bottom: 0.5rem;
        height: 4rem;
      }
      .react-calendar__navigation {
        height: 5rem;
        border-radius: 2.5rem 2.5rem 0 0;
        color: #ff9e00;
        font-weight: button[disabled] {
        background-color: white;
        }
        button.react-calendar__navigation__label {
          background-color: white;
          pointer-events: none;
        }
      }
      button.react-calendar__navigation__arrow {
        background-color: white;
      }
    }
    .react-calendar__tile:disabled {
      background-color: transparent;
    }
    .react-calendar__month-view__weekdays,
    .react-calendar__month-view__days__day--neighboringMonth {
      height: 3rem;
      color: #ff9e00;
      & abbr {
        border-bottom: none;
        text-decoration: none;
      }
    }
    .react-calendar__month-view__days__day {
      color: #4c4c4c;
      background-color: white;
    }
    .react-calendar__tile--active {
      color: white;
      background-color: #19a6ee;
      border-radius: 0;
    }
    .react-calendar__tile--hover {
      background-color: #f7f7f7;
    }
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
      background-color: #19a6ee;
      color: white;
    }
    .react-calendar__tile--rangeStart {
      border-top-left-radius: 2.5rem;
      border-bottom-left-radius: 2.5rem;
    }
    .react-calendar__tile--rangeEnd {
      border-top-right-radius: 2.5rem;
      border-bottom-right-radius: 2.5rem;
    }
    .react-calendar__viewContainer {
      padding-bottom: 5rem;
    }
  }
}