.popup-content {
  border-radius: 5px;
  padding: 10px !important;
  position: relative;
  .MuiPaper-elevation1 {
    box-shadow: none !important;
  }
  .MuiExpansionPanel-root:before {
    background-color: #f2f2f2;
  }
}
.faq-title {
  h4 {
    color: #19a6ee !important;
    font-size: 1.6rem !important;
  }
}

.faq-answers {
  p {
    color: #333333 !important;
    font-weight: bold !important;
    font-size: 1.4rem !important;
    text-align: justify !important;
  }
  li {
    color: #19a6ee !important;
  }
}

// extra-small screens
@media (max-width: 900px) {
  .popup-content {
    width: 80% !important;
  }
  .faq-title {
    .h4 {
      font-size: 1.4rem !important;
    }
  }
  .faq-answers {
    p {
      font-size: 1.2rem !important;
    }
  }
}

// small screens
@media (max-width: 1200px) {
  .popup-content {
    width: 80% !important;
  }
}
