.wrapper {
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4c4c4c;
    padding: 3rem 0rem;
    margin-top: 10rem;
    .footer-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: transparent;
      width: 100%;
      p {
        color: white;
        text-align: center;
      }
      a {
        text-decoration: none;
        cursor: pointer;
      }
      .footer-menu-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3rem 2rem;
        width: 100%;
        p {
          text-align: center;
          font-weight: bold;
        }
      }
    }
    .footer-menu-app-contact {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      .footer-menu-app {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-right: 2rem;
        .btn-footer {
          background-color: transparent;
          color: white;
          font-weight: normal;
          padding: 0;
        }
      }
      .footer-menu-contact {
        display: flex;
        flex-direction: column;;
        align-items: flex-start;
        justify-content: center;
        margin-left: 2rem;
      }
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      background: transparent;
      width: 4.5rem;
      color: white;
      transition: background 0.3s ease;
    }
    :hover {
      color: #f9f9f9;
    }
    i {
      font-size: 3.5rem;
    }
  }
}