.wrapper {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f49d11;
    .footer-menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 50px 10px 50px 10px;

      h4 {
        color: white;
      }
      p {
        color: white;
        text-align: center;
      }
      a {
        text-decoration: none;
        cursor: pointer;
      }
      .footer-menu-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .footer-menu-email-form {
          position: relative;
          text-align: right;
          background: #f49d11;
          input {
            font-family: 'Roboto', sans-serif;
            height: 44px;
            border: none;
            font-weight: 400;
            background: white;
            color: #373737;
            text-align: left;
            border-radius: 5px;
            font-size: 14px;
            padding: 10px;
            &:focus {
              transition-duration: 0.5s;
              outline: 0;
            }
          }
        }
        .btn-blue {
          position: absolute;
          right: -40px;
          font-family: 'Roboto', sans-serif;
          height: 40px;
          margin-top: 2px;
          margin-right: 25px;
          border-radius: 50px;
          border: 0;
          color: white;
          background-color: #29b3c1 !important;
          font-size: 14px;
          background: #fff;
          font-weight: 700;
          &:hover {
            background-color: #53c2cd !important;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .footer-menu-app-contact {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .footer-menu-app {
          margin-left: 20px;
          text-align: center;
        }
        .footer-menu-contact {
          margin-left: 20px;
          text-align: center;
          margin-left: 100px;
        }
      }
    }
    .footer-social {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        background: transparent;
        width: 25px;
        color: white;
        margin-right: 5px;
        margin-left: 5px;
      }
      :hover {
        color: #29b3c1;
      }
      i {
        font-size: 25px;
      }
    }
  }
}

.swal2-icon.swal2-success {
  border-color: #3e936f !important;
}
.alertmail-social {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background: transparent;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #29b3c1;
  }
  :hover {
    color: #53c2cd;
  }
  i {
    font-size: 40px;
  }
}

// all screens landscape
@media (min-width: 300px) and (orientation: landscape) {
  .footer {
    .footer-menu {
      .footer-menu-email {
        .footer-menu-email-form {
          input {
            width: 300px;
            &:focus {
              width: 330px;
            }
          }
        }
      }
    }
  }
}

// small mobile screens portrait
@media (min-width: 300px) and (orientation: portrait) {
  .footer {
    .footer-menu {
      .footer-menu-email {
        .footer-menu-email-form {
          input {
            width: 250px;
            &:focus {
              width: 280px;
            }
          }
        }
      }
    }
  }
}

// small mobile screens portrait
@media (min-width: 321px) and (orientation: portrait) {
  .footer {
    .footer-menu {
      .footer-menu-email {
        .footer-menu-email-form {
          input {
            width: 300px;
            &:focus {
              width: 330px;
            }
          }
        }
      }
    }
  }
}

// extra-small screens
@media (max-width: 900px) {
  .wrapper {
    .footer-menu {
      flex-direction: column;
      .footer-menu-email {
        margin-bottom: 50px;
      }
    }
  }
}

// normal and big screens
@media (min-width: 901px) {
  .wrapper {
    .footer-menu {
      padding-top: 50px;
      .footer-menu-email {
        margin-bottom: 50px;
      }
    }
  }
}
