.wrapper {
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f49d11;
    .footer-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 5rem;
      h4 {
        color: white;
      }
      p {
        color: white;
        text-align: center;
      }
      a {
        text-decoration: none;
        cursor: pointer;
      }
      .footer-menu-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7rem 2rem;
        p {
          text-align: center;
        }
        .footer-menu-email-form {
          position: relative;
          text-align: left;
          background: transparent;
        }
      }
    }
    .footer-menu-app-contact {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      .footer-menu-app {
        margin-left: 2rem;
        text-align: center;
      }
      .footer-menu-contact {
        margin-left: 2rem;
        text-align: center;
        margin-left: 10rem;
      }
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      background: transparent;
      width: 5rem;
      color: white;
    }
    :hover {
      transition: color 0.5s;
      color: rgba(62, 147, 111, 0.8);
    }
    i {
      font-size: 4rem;
    }
  }
}

// extra-small screens
@media (max-width: 340px) {
  .wrapper {
    .footer {
      .footer-social {
        a {
          width: 3.5rem;
        }
        i {
          font-size: 3rem;
        }
      }
    }
  }
}
