.wrapper {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f49d11;
    .footer-menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 5rem 1rem 5rem 1rem;
      h4 {
        color: white;
      }
      p {
        color: white;
        text-align: center;
      }
      a {
        text-decoration: none;
        cursor: pointer;
      }
      .footer-menu-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem 0 2rem;
        h4 {
          text-align: center;
        }
        .footer-menu-email-form {
          position: relative;
          text-align: center;
          background: transparent;
          margin-bottom: 2rem;
          input {
            font-family: 'Roboto', sans-serif;
            height: 5.5rem;
            min-width: 33rem;
            border: none;
            font-weight: 400;
            background: white;
            color: #373737;
            text-align: left;
            border-radius: 2.5rem;
            font-size: 1.8rem;
            padding: 1rem 10rem 1rem 1rem;
            margin-right: 1rem;
            &:focus {
              min-width: 35rem;
              transition-duration: 0.5s;
              outline: 0;
            }
          }
        }
        .btn-blue {
          position: absolute;
          right: 0rem;
          height: 5.5rem;
          border-radius: 5rem;
          border: none;
          color: white;
          background-color: #29b3c1;
          font-weight: 700;
          &:hover {
            background-color: #53c2cd;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .footer-menu-app-contact {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .footer-menu-app {
          margin-left: 2rem;
          text-align: center;
        }
        .footer-menu-contact {
          margin-left: 2rem;
          text-align: center;
          margin-left: 10rem;
        }
      }
    }
    .footer-social {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        background: transparent;
        width: 5rem;
        color: white;
      }
      :hover {
        color: #29b3c1;
      }
      i {
        font-size: 4rem;
      }
    }
  }
}

.swal2-icon.swal2-success {
  border-color: #3e936f !important;
}
.alertmail-social {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background: transparent;
    width: 4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #29b3c1;
  }
  :hover {
    color: #53c2cd;
  }
  i {
    font-size: 4rem;
  }
}

// extra-small screens
@media (max-width: 340px) {
  .wrapper {
    .footer {
      .footer-social {
        a {
          width: 3.5rem;
        }
        i {
          font-size: 3rem;
        }
      }
    }
  }
}

// small screens
@media (max-width: 550px) {
  .wrapper {
    .footer {
      .footer-menu {
        flex-direction: column;
        .footer-menu-email {
          margin-bottom: 5rem;
        }
      }
    }
  }
}
