.travel-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: 40rem;
  margin-top: 3rem;
  padding: 0rem 1rem 0 1rem;
  .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 98%;
  }
  .btn-flat {
    position: absolute;
    bottom: 0rem;
    width: 95%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 4.5rem;
    border-radius: 5rem;
    background: #49a991;
    transition: background 0.3s ease;
    &:hover {
      background: #429882;
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
  .MuiCircularProgress-colorPrimary {
    color: white !important;
    height: 3.5rem !important;
    width: 3.5rem !important;
  }
}
