/* form search homepage */
.wrapper {
  display: flex;
  flex-direction: column;
  .travel-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    .search-box {
      position: relative;
      display: flex;
      border: solid #f5f7f9;
      border-width: 1px;
      border-radius: 5px;
      padding: 10px 40px 10px 40px;
      .vehicle-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .toggle-btn {
          background-color: none;
          border: none;
          outline: none;
        }
        .fa-toggle-on {
          color: #49a991;
          margin: 5px 0px 40px 0px;
        }
        .fa-toggle-off {
          color: #44a7bc;
          margin: 5px 0px 40px 0px;
        }
      }
      .btn-flat {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        min-width: 80px;
        height: 44px;
        padding: 8px 24px;
        border-radius: 5px;
        background: #49a991;
        transition: background 0.3s ease;
        &:hover {
          background: #429882;
          color: white;
        }
        &:focus {
          outline: none;
        }
        .switch-search-type {
          position: static;
          margin-bottom: 50px;
        }
      }
    }
  }
}

/* extra small and small screens */
@media (max-width: 1200px) {
  .search-box {
    flex-direction: column;
    margin: 70px 0px 50px 20px;
    .btn-flat {
      width: 100%;
    }
  }
}
/* normal and big screens */
@media (min-width: 1201px) {
  .search-box {
    margin: 100px 0px 50px 20px;
  }
}

.MuiSwitch-colorSecondary.Mui-checked {
  color: #3e936f !important;
}
.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #3e936f !important;
}

/* form search resultspage */
.wrapper {
  display: flex;
  flex-direction: column;
  .travel-form-results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .search-box-results {
    position: relative;
    display: flex;
    flex-direction: column;
    border: solid #f5f7f9;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    margin: 70px 0px 70px 0px;
  }
  .btn-flat-results {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 44px;
    padding: 8px 24px;
    border-radius: 5px;
    background: #49a991;
    transition: background 0.3s ease;
    &:hover {
      background: #429882;
      color: white;
    }
    &:focus {
      outline: none;
    }
  }
}
