.travel-form {
  text-align: center;
  margin-top: 40px;
}

.travel-checkbox {
  width: 350px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.cities-input {
  margin-top: 20px;
}
