.formsearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 95vw;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
  border-width: 0.2rem;
  background-color: white;
  .travel-options{
    display: flex;
    align-items: center;
    justify-content: center;
    .travel-type {
      button.travel-type-btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 4rem;
        width: 11rem;
        font-size: 1.6rem;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        color: #4c4c4C;
        &:hover {
          color: #7c7c7c;
        }
      }
      .travel-type-change {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 11rem;
        height: 7rem;
        border-radius: 1rem;
        padding: 0.5rem;
        margin-left: 1rem;
        background-color: white;
        z-index: 1;
        box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
        span {
          font-size: 1.4rem;
          font-weight: bold;
        }
        button {
          background-color: white;
          display: flex;
          justify-content: left;
          align-items: center;
          cursor: pointer;
          color: #4c4c4c;
          text-decoration: none;
          padding: 0;
          .check-box {
            min-width: 3rem;
            img.icon-circle-select {
              width: 1.2rem;
            }
          }
        }
      }
    }
    button.stop-trip-btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 4rem;
      width: 12rem;
      padding: 1rem;
      margin-left: 1rem;
      border-width: 0.2rem;
      font-size: 1.6rem;
      outline: none;
      cursor: pointer;
      background-color: transparent;
      color: #4c4c4C;
      &:hover {
        color: #7c7c7c;
      }
    }
    .stop-trip-change {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 12rem;
      height: 7rem;
      border-radius: 1rem;
      padding: 0.5rem;
      margin-left: 1rem;
      background-color: white;
      z-index: 1;
      box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
      button {
        background-color: white;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        color: #4c4c4c;
        text-decoration: none;
        padding: 0;
        .check-box {
          min-width: 3rem;
          img.icon-circle-select {
            width: 1.2rem;
          }
        }
      }
    }
  }
  .travel-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    .btn-explore {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 5rem;
      min-width: 10rem;
      margin: 0.5rem;
      border-radius: 1rem;
      background: #19a6ee;
      transition: background 0.3s ease;
      font-family: 'PT sans', sans-serif;
      font-size: 1.6rem;;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: #41B6F1;
        color: white;
      }
      &:focus {
        outline: none;
      }
      &:disabled {
        opacity: 1;
        cursor: not-allowed;
      }
    }
    .MuiCircularProgress-colorPrimary {
      color: white !important;
      height: 3.5rem !important;
      width: 3.5rem !important;
    }
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 0.5rem;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: absolute;
  margin-bottom: 2rem;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media (max-width: 900px) {
  .formsearch {
    padding: 0.5rem;
    border-radius: 1.2rem;
    min-width: 90vw;
    .travel-form {
      .btn-explore {
        width: 97%;
      }
    }
  }
}

@media (min-width: 901px) {
  .formsearch {
    padding: 0.5rem;
    border-radius: 1.2rem;
    min-width: 70vw;
  }
}

@media (max-width: 1200px) {
  .formsearch {
    .travel-form {
      flex-direction: column;
      .btn-explore {
        width: 97%;
      }
    }
  }
}

@media (min-width: 1201px) {
  .formsearch {
    padding: 0 3rem;
    border-radius: 5rem;
  }
}

