.cities-departure {
  position: absolute;
  top: 9rem;
  right: 0rem;
  left: 0rem;
  max-height: 57vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  padding: 0 0.5rem;
}
.city-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5rem 1rem;
  .city-departure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7rem;
    border-radius: 0.5rem;
    padding: 0 1rem;
    background-color: #ffdB5b;
    .city-departure-name {
      color: #181f23;
      font-weight: bold;
      font-size: 1.6rem;
      margin-right: 1rem;
    }
    .fa-times-circle {
      cursor: pointer;
      vertical-align: center;
      color: #181f23;
      &:hover {
        color: #676d70;
      }
    }
  }
}

@media (max-width: 500px) {
  .cities-departure {
    justify-content: center;
  }
}

@media (min-width: 501px) {
  .cities-departure {
    justify-content: flex-start;
    margin-left: 5rem;
  }
}

@media (min-width: 1201px) {
  .cities-departure {
   max-height: 10rem;
  }
}




