.language-set {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
    margin-right: 1rem;
    button {
      background-color: transparent;
      img {
        width: 3rem;
      }
    }
    .language-choices {
        position: absolute;
        top: 3rem;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        background-color: white;
        padding: 0.7rem;
        .change-language-btn {
          background-color: transparent;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          color: #181f23;
          text-decoration: none;
          width: 100%;
          img {
            width: 3.5rem;
          }
          span {
            font-family: 'PT Sans', sans-serif;
            color: #181f23;
            margin-left: 0.5rem;
          }
        }
    }
}
