.places-autocomplete {
  width: 370px;
  .city-autocomplete {
    z-index: 1;
    box-shadow: rgba(37, 42, 49, 0.16) 0px 2px 5px 0px, rgba(37, 42, 49, 0.24) 0px 2px 10px 0px;
    border-radius: 3px;
    transition: all 0.15s ease-in-out 0s;
  }
  .city-departure-input {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
    width: 350px;
    border-radius: 3px;
    color: rgb(37, 42, 49);
    text-align: left;
  }

  input[type=text]:focus{
    outline: 1px solid #1f72cb;     /* oranges! yey */
  }
}

.suggestions-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.cities-departure {
  min-width: 400px;
  min-height: 140px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  margin-top: 20px;
}

.city-div {
  margin-right: 20px;
  margin-bottom: 10px;
}

.cities-list {
  height: 300px;
  border: solid red;
}

.city-departure {
  display: flex;
  justify-content: center;
  align-items: space-between;
  height: 30px;
  border-radius: 3px;
  color: white;
  background: #f5a741;
}

.city-departure-people {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-left: 5px;
}

.number-of-people-btn {
  display: flex;
  justify-content: left;
  align-items: center;
}

button.number-of-people {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.people-number-change {
  button {
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    background-color: #f7fbfc;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: #dce3e9;
    }
  }
}

.chevron-up-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.remove-city-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.fa-user-friends {
  margin-right: 2px;
}
