.city-departure-input {
  height: 35px;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 350px;
  color: rgb(37, 42, 49);
  text-align: center;
}

  input[type=text]:focus{
  outline: 1px solid #1f72cb;     /* oranges! yey */
}

.cities-departure {
  min-width: 400px;
  height: 140px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  margin-top: 20px;
}

.city-div {
  min-width: 80px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.cities-list {
  height: 300px;
  border: solid red;
}

.city-departure {
  display: flex;
  justify-content: center;
  align-items: space-between;
  height: 30px;
  border-radius: 3px;
  color: white;
  background: #f5a741;
}

.city-departure-people {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  margin-left: 5px;
}

.number-of-people-btn-link {
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 5px;
  button {
    border: none;
    outline: none;
  } & button:hover {
    background-color: #e5eaef;
    border-radius: 3px;
  }
}

.number-of-people-btn {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 22px;
}

.number-of-people {
  position: absolute;
  border: solid red;
  top: 0px;
  left: 0px;
}

.chevron-up-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.remove-city-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.fa-user-friends {
  margin-right: 2px;
}

.people-number-change {
  position: absolute;
  top: -15px;
  left: 0px;
  min-width: 120px;
  z-index: 1;
  border: solid red;
  height: 40px;
  box-shadow: rgba(37, 42, 49, 0.16) 0px 4px 8px 0px, rgba(37, 42, 49, 0.24) 0px 8px 24px 0px;
}


