.marker-departure-city {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    top: -1.8rem;
    left: -1rem;
    width: 2rem;
    background-color: transparent;
  }
}
.marker-destination {
  position: relative;
  .marker-destination-btn {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    background-color: #3e936f;
    border: none;
    outline: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;
    margin: none;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
  }
  .destination-price {
    display: none;
  }
  &:hover {
    .marker-destination-btn {
      background-color: #48ad83;
    }
    .destination-price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      padding: 0.5rem 1rem;
      height: 2rem;
      border-radius: 1rem;
      background-color: #48ad83;
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);
      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
    }
  }
}

.mapboxgl-ctrl-logo {
  display: none !important;
}