.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 99;
  background-color: #f49d11;
  color: white;
  .navbar-brand {
    display: flex;
    align-items: center;
    min-width: 250px;
    margin-left: -1px;
    height: 103%;
    background-color: white;
    border-radius: 0 50px 50px 0px;
    img {
      height: 70px;
    }
  }
  .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    .navbar-social {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      a {
        background: transparent;
        width: 25px;
        margin-left: 5px;
        margin-right: 5px;
        color: white;
      }
      :hover {
        color: #29b3c1;
      }
      i {
        font-size: 25px;
      }
    }
  }
  .email-form {
    position: relative;
    text-align: right;
    background: #f49d11;
    margin: 0px 40px 0px 40px;
    input {
      font-family: 'Roboto', sans-serif;
      width: 300px;
      height: 44px;
      border: none;
      font-weight: 400;
      background: white;
      color: #373737;
      text-align: left;
      border-radius: 5px;
      font-size: 14px;
      padding: 10px;
      &:focus {
        width: 330px;
        transition-duration: 0.5s;
        outline: 0;
      }
    }
    .btn-blue {
      position: absolute;
      right: -40px;
      font-family: 'Roboto', sans-serif;
      height: 40px;
      margin-top: 2px;
      margin-right: 25px;
      border-radius: 50px;
      border: 0;
      color: white;
      background-color: #29b3c1 !important;
      font-size: 14px;
      background: #fff;
      font-weight: 700;
      &:hover {
        background-color: #53c2cd !important;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .email-form-background {
    background: transparent !important;
  }
}

button {
  background-color: #29b3c1;
  height: 40px;
  border-radius: 50px !important;
  color: white;
  font-size: 14px !important;
  font-weight: 700;
  &:hover {
    background-color: #53c2cd !important;
  }
  &:focus {
    outline: none;
  }
}

.swal2-icon.swal2-success {
  border-color: #3e936f !important;
}
.alertmail-social {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background: transparent;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    color: #29b3c1;
  }
  :hover {
    color: #53c2cd;
  }
  i {
    font-size: 40px;
  }
}

// extra-small screens
@media (max-width: 900px) {
  .email-form {
    display: none;
  }
}
