.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7rem;
  z-index: 99;
  background-color: #f49d11;
  color: white;
  .navbar-brand {
    display: flex;
    align-items: center;
    min-width: 25rem;
    margin-left: -0.1rem;
    height: 103%;
    background-color: white;
    border-radius: 0 5rem 5rem 0;
    img {
      height: 7rem;
    }
  }
  .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    .navbar-social {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;
      a {
        background: transparent;
        width: 5rem;

        color: white;
      }
      :hover {
        color: #29b3c1;
      }
      i {
        font-size: 4rem;
      }
    }
  }
  .email-form {
    position: relative;
    text-align: right;
    background: #f49d11;
    margin: 0 4rem 0 4rem;
    input {
      font-family: 'Roboto', sans-serif;
      width: 30rem;
      height: 4.4rem;
      border: none;
      font-weight: 400;
      background: white;
      color: #373737;
      text-align: left;
      border-radius: 0.5rem;
      font-size: 1.4rem;
      padding: 1rem;
      &:focus {
        width: 33rem;
        transition-duration: 0.5s;
        outline: 0;
      }
    }
    .btn-blue {
      position: absolute;
      right: -4rem;
      font-family: 'Roboto', sans-serif;
      height: 4rem;
      margin-top: 0.2rem;
      margin-right: 2.5rem;
      border-radius: 5rem;
      border: 0;
      color: white;
      background-color: #29b3c1 !important;
      font-size: 1.5rem;
      background: #fff;
      font-weight: 700;
      &:hover {
        background-color: #53c2cd !important;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .email-form-background {
    background: transparent !important;
  }
}

button {
  background-color: #29b3c1;
  height: 4rem;
  border-radius: 5rem !important;
  color: white;
  font-size: 1.4rem !important;
  font-weight: 700;
  &:hover {
    background-color: #53c2cd !important;
  }
  &:focus {
    outline: none;
  }
}

.swal2-icon.swal2-success {
  border-color: #3e936f !important;
}
.alertmail-social {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    background: transparent;
    width: 4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #29b3c1;
  }
  :hover {
    color: #53c2cd;
  }
  i {
    font-size: 4rem;
  }
}

// extra-small screens
@media only (max-width: 340px) {
  .navbar {
    .navbar-menu {
      .navbar-social {
        a {
          width: 3.5rem;
        }

        i {
          font-size: 3rem;
        }
      }
    }
  }
}

@media only (max-width: 900px) {
  .email-form {
    display: none;
  }
}
