.cities-departure {
  position: absolute;
  right: 0rem;
  left: 0rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0 0.5rem;
}
.city-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 0.5rem;
  .number-of-people-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -0.8rem;
    .number-of-people {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem;
      .fa-user-friends {
        color: #ff9e00;
      }
      h5 {
        color: #ff9e00;
      }
    }
    .people-number-change {
      .fa-minus-circle {
        cursor: pointer;
        color: #e7e7e7;
        margin-right: 0.2rem;
        &:hover {
          color: #ff9e00;
        }
      }
      .fa-plus-circle {
        cursor: pointer;
        color: #e7e7e7;
        &:hover {
          color: #ff9e00;
        }
      }
    }
  }
  .city-departure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 2.5rem;
    padding: 0 1rem 0 1rem;
    background-color: #ff9e00;
    .city-departure-name {
      color: white;
      font-family: 'roboto' sans-serif;
      font-weight: bold;
      font-size: 1.4rem;
      margin-right: 1rem;
    }
    .fa-times-circle {
      cursor: pointer;
      vertical-align: center;
      color: rgba(255, 255, 255, 0.7);
      &:hover {
        color: white;
      }
    }
  }
}

@media (max-width: 1050px) {
  .cities-departure {
    bottom: -10em;
    height: 12rem;
  }
}

@media (min-width: 1051px) {
  .cities-departure {
    bottom: -7rem;
    height: 6rem;
  }
}