@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto:400,700&display=swap');

//$headers-font: 'Arimo', 'sans-serif';
//$body-font:: 'Roboto', 'sans-serif';

$yellow: #f49d11;
$yellow-light: #f6b040;
$blue: #29b3c1;
$blue-light: #53c2cd;
$green: #3e936f;
$gray: #262626;
$light-gray: #5f5f5f;

h1 {
  font-family: 'Roboto', sans-serif;
  color: #29b3c1;
  font-weight: bold;
  font-size: 4.5rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: $blue;
  font-weight: bold;
  font-size: 3.5rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: $blue;
  font-weight: bold;
  font-size: 2.5rem;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

p {
  font-family: 'Roboto', sans-serif;
  color: $gray;
  font-weight: regular 400;
  font-size: 1.6rem;
}

btn {
  height: 3rem;
}
