@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Paytone+One&display=swap');

$headers-font: 'Paytone One', sans-serif;
$body-font: 'PT Sans', sans-serif;

$yellow: #ff9e00;
$yellow-light: #FFB133;
$blue: #19a6ee;
$blue-light: #41B6F1;
$green: #427103;
$green-light: #85bf82;
$gray: #4c4c4c;
$light-gray: #dce4e9;

h1 {
  font-family: $headers-font;
  color: $yellow;
}

h2 {
  font-family: $headers-font;
  color: $blue;
}

h3 {
  font-family: $headers-font;
  color: $blue;
}

h4 {
  font-family: $headers-font;
}

h5 {
  font-family: $body-font;
  color: $gray;
  font-weight: bold;
}

p {
  font-family: $body-font;
  color: $gray;
  font-size: 1.6rem;
}

body {
  font-family: $body-font;
  color: $gray;
  font-size: 1.6rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'PT sans', sans-serif;
  font-size: 1.6rem;;
  font-weight: bold;
}

@media (max-width: 300px) {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.6rem;
  }
}

@media (min-width: 641px) {
    h1 {
      font-size: 3.7rem;
    }
    h2 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 2.5rem;
    }
    h5 {
      font-size: 1.6rem;
    }
}
