.popup-content {
  border-radius: 1rem;
  overflow-y: auto;
  max-height: 100vh !important;
}

.MuiAppBar-colorDefault {
  background-color: white !important;
}

.MuiAppBar-root {
  border-radius: 1rem;
  background-color: white;
  border: 0 !important;
  box-shadow: none !important;
  .MuiTabs-root {
    background-color: #f4f4f4;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 0.5rem 1rem;
    .MuiTab-wrapper {
      font-size: 1.6rem;
      font-family: 'PT Sans', sans-serif;
      text-transform: capitalize;
      font-weight: bold;
    }
    .MuiTab-textColorPrimary.Mui-selected {
      color: #606060;
      background-color: white;
      border-radius: 1rem;
      &:hover {
        color: #606060;
      }
    }
    .MuiTab-textColorPrimary {
      color: #606060;
      //border-bottom: solid 4px #ff9e00 !important;
      &:hover {
        color: #606060;
      }
    }
    .MuiTabs-indicator {
      display: none !important;
    }
  }
}
.MuiBox-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  margin: 0rem !important;
  padding: 0.5rem !important;
}

@media (max-width: 700px) {
  .popup-content {
    min-width: 100vw;
    min-height: 100vh;
    padding: 5.5rem 0 0 0 !important;
  }
  .close-popup {
    position: absolute;
    top: 2.5rem;
    right: 1.2rem;
    background-color: transparent;
    color: #4c4c4c;
    &:hover {
      color: #7c7c7c;
    }
  }
}

@media (min-width: 701px) {
  .close-popup {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 901px) {
  .popup-content {
    width: 80vw !important;
    padding: none !important;
  }
}


@media (min-width: 901px) and (max-width: 1001px) {
  .popup-content {
    width: 80vw !important;
    padding: none !important;
  }
}

@media (min-width: 1001px) and (max-width: 1101px) {
  .popup-content {
    width: 70vw !important;
    padding: none !important;
  }
}

@media (min-width: 1101px) {
  .popup-content {
    width: 50vw !important;
  }
}