.popup-content {
  border-radius: 1rem;
  overflow-y: auto;
  width: 75vw !important;
  padding: 0 !important;
}

.MuiAppBar-root {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: white;
  border: 0 !important;
  box-shadow: none !important;
  .MuiTabs-root {
    background-color: white;
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem 0 1rem;
    .MuiTab-wrapper {
      font-size: 1.6rem;
      font-family: 'PT Sans', sans-serif;
      text-transform: capitalize;
      font-weight: bold;
      color: #ff9e00;
    }
    .MuiTab-textColorPrimary.Mui-selected {
      color: #FFB133 !important;
    }
    .MuiTabs-indicator {
      background-color: #ff9e00 !important;
      height: 0.5rem !important;
      border-radius: 0.5rem;
    }
  }
}
.MuiBox-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
  margin: 0rem !important;
  padding: 0.5rem !important;
}

@media (max-width: 500px) {
  .popup-content {
    min-width: 100vw;
    min-height: 100vh;
    padding: 5.5rem 0 0 0 !important;
  }
}