.details-results {
  position: relative;
  .MuiBox-root {
    padding: 0 !important;
    .MuiTypography-root {
      width: 100%;
      overflow-y: scroll;
      height: 100%;
      padding-bottom: 10rem;
      background-color: white;
      .details-results-travel-return {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
      .details-results-travel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .details-results-travel {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background-color: white;
          width: 100%;
          .details-results-travel-city {
            width: 80%;
            text-align: left;
            padding: 2.5rem 0rem 2rem 0rem;
            
          }
        }
        .details-results-travel-destination-content-section {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          width: 85%;
          .destination-div-1 {
            grid-column: 1/2;
            grid-row: 6;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 0 0 0 1rem;
          }
          .destination-div-2 {
            position: relative;
            grid-column: 2/6;
            grid-row: 6;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 5rem 0 0.5rem 2.2rem;
            background-color: white;
            border-radius: 0 0 1rem 0;
            .line {
              position: absolute;
              left: 0.6rem;
              border-left: 0.15rem dotted #9b9b9b;
              top: 0;
              height: 60%;
            }
            .fa-map-marker-alt {
              position: absolute;
              left: 0.2rem;
              bottom: 2rem;
              color: #3e936f;
            }
            h5 {
              font-size: 1.2rem;
              line-height: 0rem;
            }
            h6 {
              font-size: 1.2rem;
              font-weight: lighter;
              line-height: 0rem;
              color: #3e936f;
            }
          }
        }
      }
    }
  }
  .details-results-share-book {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    .details-results-share {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      a {
        margin-left: 1.5rem;
        cursor: pointer;
        i {
          color: #3e936f;
        }
        :hover {
          color: #48ad83;
        }
      }
      .clipboard-btn {
        background-color: transparent;
        margin-left: 1.5rem;
        padding: 1 0;
        width: 0;
        i {
          color: #3e936f;
        }
        :hover {
          color: rgba(62, 147, 111, 0.9);
        }
      }
    }
    .details-results-price-book {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 60%;

      .ticket-price {
        margin-right: 1rem;
      }
      .details-results-book {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border: none;
        margin-right: 1rem;
        height: 4.5rem;
        border-radius: 5rem;
        background: #3e936f;
        color: white;
        text-decoration: none;
        &:hover {
          background-color: #48ad83;
        }
      }
    }
  }
}
