.filter-div {
    width: 100%;
    max-width: 97vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0.1rem 0.2rem rgba(76, 76, 76, 0.03), 0 0.2rem 0.4rem rgba(76, 76, 76, 0.03);
    border-radius: 0.5rem;
    .filter-table {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      .filter-table-way {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-grow: 2;
        width: 100%;
        .filter-table-header {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          flex-grow: 2;
          p {
            color: #181f23;
            font-weight: bold;
            font-size: 1.6rem;
          }
        }
        .filter-table-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            color: #181f23;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: -0.2rem;
          }
        }
      }
      .filter-table-return {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .filter-table-header {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          p {
            color: #181f23;
            font-weight: bold;
            font-size: 1.6rem;
          }
        }
        .filter-table-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p {
            color: #181f23;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: -0.2rem;
          }
        }
      }
    }
  }

  @media (max-width: 1000px) {
    .filter-div {
        .filter-table {
            flex-wrap: wrap;
            .filter-table-way {
            margin-bottom: 3rem;
            }
        }
    }
  }