.MuiSlider-root {
  color: #427103 !important;
  padding: none !important;
  .MuiSlider-rail {
    margin-top: 0.5rem;
    height: 0.5rem;
    color: #dae0e3 !important;
  }
  .MuiSlider-track {
    margin-top: 0.5rem;
    height: 0.5rem;
  }
  .MuiSlider-thumb {
    height: 2.4rem;
    width: 2.4rem;
    color: white;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    transition: none;
    &:hover {
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    }
  }
  .MuiSlider-active {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3) !important;
  }
}
.timerange {
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
  p {
    color: #427103 !important;
    font-size: 1.2rem !important;
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  .MuiSlider-root {
    min-width: 25rem !important;
    max-width: 97vw !important;
  }
}

@media (min-width: 1001px) {
  .MuiSlider-root {
    width: 40rem !important;
    
  }
}

