.MuiSlider-root {
  color: #4Ac7fc !important;
  padding: none !important;
  .MuiSlider-rail {
    margin-top: 0.5rem;
    height: 0.5rem;
    color: #dae0e3 !important;
  }
  .MuiSlider-track {
    margin-top: 0.5rem;
    height: 0.5rem;
  }
  .MuiSlider-thumb {
    height: 2.4rem;
    width: 2.4rem;
    color: white;
    border: 1px solid #e7e7e7;
    box-shadow: none !important;
  }
}
.timerange {
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
  p {
    color: #808080 !important;
    font-size: 1.4rem !important;
    font-weight: bold;
  }
}

@media (max-width: 1000px) {
  .MuiSlider-root {
   //min-width: 25rem !important;
    //max-width: 97vw !important;
    width: 80vw !important;
  }
}

@media (min-width: 1001px) {
  .MuiSlider-root {
    width: 35rem !important;
  }
}

