.details-results-travel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .details-results-travel-content-section {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      background-color: white;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.07);
      border-radius: 0.5rem;
      padding: 1rem 0.5rem;
      margin: 0.5rem 0 1rem 0;
      .date-div-1 {
        grid-column: 1/2;
        grid-row: 1;
        background-color: white;
        border-radius: 1rem 0 0 0;
        padding-bottom: 2rem;
      }
      .date-div-2 {
        position: relative;
        grid-column: 2/6;
        grid-row: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        border-radius: 0 1rem 0 0;
        font-weight: normal;
        margin-bottom: 1rem;
        .travel-date {
          font-weight: normal;
          font-size: 1.2rem;
        }
        .date-from {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem dotted #dce4e9;
          bottom: 0;
          height: 30%;
        }
        i {
          margin-right: 1rem;
        }
      }
      .stopover-div {
        position: relative;
        grid-column: 2/6;
        grid-row: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        border-radius: 0 1rem 0 0;
        font-weight: bold;
        margin-bottom: 1rem;
        color: #181f23;
        i {
          margin-right: 0.5rem;
          color: #ffdB5b;
        }
      }
      .departure-div-1 {
        grid-column: 1/2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        span.date-from-time {
          font-weight: bold;
        }
      }
      .departure-div-2 {
        position: relative;
        grid-column: 2/6;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0.5rem 0 0.5rem 2.2rem;
        background-color: white;
        .line-round {
          position: absolute;
          background-color: white;
          border: solid 2px #676d70;
          top: 1rem;
          left: 0.12rem;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
        }
        .line-bottom {
          position: absolute;
          left: 0.6rem;
          border-left: 0.2rem solid #676d70;
          bottom: 0rem;
          height: 25%;
        }
        .city-from {
          display: flex;
          justify-content: center;
          align-items: center;
          span.city-from-name {
            font-size: 1.4rem;
            font-weight: bold;
          }
          span.city-from-code {
            font-size: 1.2rem;
            font-weight: normal;
            margin-left: 0.3rem;
          }
        }
      }
      .carrier-div-1 {
        grid-column: 1/2;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        img {
          height: 3.5rem;
        }
      }
      .carrier-div-2 {
        position: relative;
        grid-column: 2/6 !important;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0 0.5rem 2.2rem;
        background-color: white;
    
        .line-bottom {
          position: absolute;
          left: 0.6rem;
          border-left: 0.2rem solid #676d70;
          bottom: 0rem;
          height: 100%;
        }
        .travel-company-time {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding: 0.7rem 0;
          .fa-plane {
            position: absolute;
            top: 1.4rem;
            left: 0rem;
            color: #ffdB5b;
            background-color: white;
            padding: 0.5rem 0;
          }
          .travel-company {
            padding: 0.2rem 0.5rem;
            margin-right: 0.5rem;
            background-color: white;
            span.airline-name {
              font-size: 1.2rem;
              font-weight: normal;
              color: #181f23;
            }
          }
          .travel-duration {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            padding: 0 0.5rem;
            margin-right: 0.5rem;
            background-color: #f7f7f7;
            height: 100%;
            span.travel-duration-hours {
              font-weight: bold;
              color: #181f23;
              font-size: 1.2rem;
            }
          }
          span.travelers-number {
            color: #181f23;
            font-weight: bold;
            font-size: 1.2rem;
          }
          .show-more-details {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: none;
            border: none;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            i {
              color: #676d70;
            }
            &:hover {
              background-color: transparent;
              color: #181f23;
            }
          }
        }
        .route-details {
          width: 100%;
          padding: 1rem 0 1.5rem 0;
          .route-details-connection-info-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;
            .airline {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              span.airline-name {
                font-size: 1.2rem;
                margin-right: 1rem;
                padding-left: 1.5rem;
                width: 15rem;
              }
              span.airline-response {
                width: 100%;
                font-size: 1.2rem;
                font-weight: bold;
                margin-right: 0.5rem;
              }
            }
            .flight-number {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              span.flight-no {
                font-size: 1.2rem;
                margin-right: 1rem;
                padding-left: 1.5rem;
                width: 15rem;
              }
              span.flight-number-response {
                width: 100%;
                font-size: 1.2rem;
                font-weight: bold;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
      .arrival-div-1 {
        grid-column: 1/2;
        grid-row: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        span.arrival-time {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
      .arrival-div-2 {
        position: relative;
        grid-column: 2/6 !important;
        grid-row: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0.5rem 0 0.5rem 2.2rem;
        background-color: white;
        .line-top {
          position: absolute;
          left: 0.6rem;
          border-left: 0.2rem solid #676d70;
          top: 0;
          height: 20%;
        }
        .line-round {
          position: absolute;
          background-color: white;
          border: solid 2px #676d70;
          top: 1rem;
          left: 0.12rem;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
        }
        .city-to {
          display: flex;
          justify-content: center;
          align-items: center;
          span.city-to-name {
            font-size: 1.4rem;
            font-weight: bold;
          }
          span.city-to-code {
            font-size: 1.2rem;
            font-weight: normal;
            margin-left: 0.3rem;
          }
        }
      }
    }
}

@media (max-width: 300px) {
  .travel-duration {
    display: none;
  }
  .departure-div-1 {
    span.date-from-time {
      font-size: 1.2rem;
    }
  }
  .show-more-details {
    right: 0;
  }
}

@media (min-width: 301px) {
  .departure-div-1 {
    span.date-from-time {
      font-size: 1.4rem;
    }
  }
  .show-more-details {
    right: 0.5rem;
  }
}


@media (max-width: 500px) {
  .airline-response {
    justify-content: flex-start;
  }
  span.flight-number-response {
    justify-content: flex-start;
  }
}

@media (min-width: 501px) {
  .airline-response {
    justify-content: flex-end;
  }
  span.flight-number-response {
    justify-content: flex-end;
  }
  .show-more-details {
    right: 3rem;
  }
  .travel-duration {
    display: flex;
  }
}

@media (max-width: 500px) {
  .details-results-travel-content {
    width: 95%;
  }
}

@media (min-width: 501px) and (max-width: 700px) {
  .details-results-travel-content {
    width: 90%;
  }
}

@media (min-width: 700px) {
  .details-results-travel-content {
    width: 80%;
  }
}
