.details-results-travel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    .details-results-travel-content-section {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      background-color: white;
      .date-div-1 {
        grid-column: 1/2;
        grid-row: 1;
        background-color: white;
        border-radius: 1rem 0 0 0;
        padding-bottom: 2rem;
      }
      .date-div-2 {
        position: relative;
        grid-column: 2/6;
        grid-row: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: white;
        border-radius: 0 1rem 0 0;
        font-weight: bold;
        .date-from {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem dotted #dce4e9;
          bottom: 0;
          height: 30%;
        }
        i {
          margin-right: 1rem;
        }
        .travel-date {
          font-size: 1.2rem;
        }
      }
      .stopover-div {
        display: flex;
        align-items: center;
        background-color: white;
        color: #f49d11;
        padding: 1rem 0;
        i {
          margin-right: 1rem;
        }
      }
      .departure-div-1 {
        grid-column: 1/2;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        span.date-from-time {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .departure-div-2 {
        position: relative;
        grid-column: 2/6;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0.5rem 0 0.5rem 2.2rem;
        background-color: #f9f9f9;
        .line-top {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem dotted #dce4e9;
          top: 0.1rem;
          height: 30%;
        }
        .line-round {
          position: absolute;
          background-color: #dce4e9;
          top: 1.8rem;
          left: 0.13rem;
          width: 1.1rem;
          height: 1.1rem;
          border-radius: 50%;
        }
        .line-bottom {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem solid #dce4e9;
          bottom: 0rem;
          height: 40%;
        }
        span.city-from {
          font-size: 1.2rem;
          font-weight: bold;
        }
        span.city-from-code {
          font-size: 1rem;
        }
      }
      .traveler-div-1 {
        grid-column: 1/2;
        grid-row: 3;
        height: 2rem;
        background-color: #f9f9f9;
      }
      .traveler-div-2 {
        position: relative;
        grid-column: 2/6 !important;
        grid-row: 3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 2rem;
        width: 100%;
        padding: 0.5rem 0 0.5rem 2.2rem;
        background-color: #f9f9f9;
        .travelers {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem solid #dce4e9;
          top: 0;
          height: 100%;
        }
        .fa-user-friends {
          color: #4Ac7fc;
          margin-right: 0.5rem;
        }
        span.travelers-number {
          color: #4Ac7fc;
          font-weight: bold;
          font-size: 1.2rem;
        }
      }
      .carrier-div-1 {
        grid-column: 1/2;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 1.2rem 0;
        img {
          height: 3rem;
        }
      }
      .carrier-div-2 {
        position: relative;
        grid-column: 2/6 !important;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem 0 0.5rem 2.2rem;
        background-color: white;
        .line-top {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem solid #dce4e9;
          top: 0;
          height: 30%;
        }
        .line-bottom {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem solid #dce4e9;
          bottom: 0rem;
          height: 100%;
        }
        .travel-company-time {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          padding: 0.7rem 0;
          .fa-plane {
            position: absolute;
            top: 1.5rem;
            left: 0rem;
            color: #f49d11;
            background-color: white;
            padding: 0.5rem 0;
          }
          .travel-company {
            border-radius: 3rem;
            padding: 0.2rem 1.5rem;
            margin-right: 0.5rem;
            background-color: white;
            span.airline-name {
              font-size: 1.2rem;
              font-weight: bold;
              color: #f49d11;
            }
          }
          .travel-duration {
            border-radius: 5rem;
            padding: 0.2rem 1rem;
            background-color: #6dd3fd;
            height: 100%;
            span.travel-duration-hours {
              font-weight: bold;
              color: white;
              font-size: 1.2rem;
            }
          }
          .show-more-details {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: none;
            border: none;
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            i {
              color: #6dd3fd;
            }
            &:hover {
              background-color: transparent;
            }
          }
        }
        .route-details {
          width: 100%;
          padding: 1rem 0 1.5rem 0;
          .route-details-connection-info {
            span.connection-info {
              font-size: 1.2rem;
              line-height: 0rem;
            }
          }
          .route-details-connection-info-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;
            .airline {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              .airline-logo {
                img {
                  text-align: center;
                  width: 2.5rem;
                }
                span.airline {
                  font-size: 1.2rem;
                  font-weight: lighter;
                  margin-left: 0.5rem;
                }
              }
              .airline-response {
                display: flex;
                align-items: center;
                width: 70%;
                span.airline-name {
                  font-size: 1.2rem;
                  font-weight: lighter;
                  margin-right: 0.5rem;
                }
              }
            }
            .flight-number {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              .flight-number-logo {
                i {
                  text-align: center;
                  width: 2.5rem;
                }
                span.flight-no {
                  font-size: 1.2rem;
                  font-weight: lighter;
                  margin-left: 0.5rem;
                }
              }
              span.flight-number-response {
                display: flex;
                align-items: center;
                width: 70%;
                font-size: 1.2rem;
                font-weight: lighter;
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
      .arrival-div-1 {
        grid-column: 1/2;
        grid-row: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        span.arrival-time {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .arrival-div-2 {
        position: relative;
        grid-column: 2/6;
        grid-row: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #f9f9f9;
        padding: 0.5rem 0 0.5rem 2.2rem;
        .line-top {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem solid #dce4e9;
          top: 0;
          height: 30%;
        }
        .line-round {
          position: absolute;
          background-color: #dce4e9;
          top: 1.8rem;
          left: 0.13rem;
          width: 1.1rem;
          height: 1.1rem;
          border-radius: 50%;
        }
        .line-bottom {
          position: absolute;
          left: 0.6rem;
          border-left: 0.15rem dotted #dce4e9;
          bottom: 0rem;
          height: 40%;
        }
        span.city-to {
          font-size: 1.2rem;
          font-weight: bold;
        }
        span.city-to-code {
          font-size: 1rem;
        }
      }
    }
}

@media (max-width: 500px) {
  .airline-logo {
    display: none;
    .airline-response {
      justify-content: flex-start;
    }
  }
  .flight-number-logo {
    display: none;
    span.flight-number-response {
      justify-content: flex-start;
    }
  }
  .show-more-details {
    right: 0.5rem;
  }
}

@media (min-width: 501px) {
  .airline-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    .airline-response {
      justify-content: flex-end;
    }
  }
  .flight-number-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 2rem;
    span.flight-number-response {
      justify-content: flex-end;
    }
  }
  .show-more-details {
    right: 3rem;
  }
  .travel-duration {
    display: flex;
  }
}

