.marker-departure-city {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  img {
    position: absolute;
    top: -40px;
    left: -20px;
    width: 40px;
  }
}
