.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  z-index: 99;
  background-color: #f49d11;
  color: white;
  .navbar-brand {
    display: flex;
    align-items: center;
    height: 103%;
    min-width: 300px;
    background-color: white;
    border-radius: 0 50px 50px 0px;
    img {
      height: 70px;
    }
  }
  .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    .navbar-social {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      a {
        background: transparent;
        width: 50px;
        color: white;
      } :hover {
        color: #29b3c1;
      }
      i {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 880px) {
  .email-form {
    display: none;
  }
}
.email-form {
  position: relative;
  text-align: right;
  background: #f49d11;
  margin: 0px 40px 0px 40px;
  input {
    font-family: "Arimo", sans-serif;
    width: 300px;
    height: 44px;
    border: none;
    font-weight: 400;
    background: white;
    color: #373737;
    text-align: left;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    &:focus {
      width: 340px;
      transition-duration: 0.5s;
      outline: 0;
    }
  }
  .btn-blue {
    position: absolute;
    right: -40px;
    font-family: "Arimo", sans-serif;
    height: 40px;
    margin-top: 2px;
    margin-right: 15px;
    //padding: 10px 10px;
    border-radius: 50px;
    border: 0;
    color: white;
    background-color: #29b3c1 !important;
    font-size: 14px;
    background: #fff;
    font-weight: 700;
    &:hover {
      background-color: red;
    }
    &:focus {
      outline: none;
    }
  }
}

.email-form-background {
  background: transparent !important;
}
