#cards-results-wrapper {
 width: 100%;
}
.travel-results {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .travel-results-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .linear-progress-filter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;
      .linear-progress-div {
        padding: 1rem;
        .linear-progress {
          width: 100%;
          .MuiLinearProgress-colorPrimary {
            background-color: #F1F9F5;
            height: 0.5rem;
            border-radius: 1rem;
            margin: 0.2rem;
          }
          .MuiLinearProgress-barColorPrimary {
            background-color: #427103;
          }
        }
      }
      .filter-sort {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .btn-filter {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #4c4c4c;
          background-color: white;
          cursor: pointer;
          margin-left: 0.5rem;
          &:hover {
            color: #808080;
          }
          i {
            margin-right: 1rem;
          }
        }
        .btn-sort {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #4c4c4c;
          background-color: white;
          cursor: pointer;
          margin-left: 0.5rem;
          &:hover {
            color: #808080;
          }
        }
        .sortby-change {
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 10rem;
          border-radius: 1rem;
          padding: 0.5rem;
          background-color: white;
          z-index: 1;
          box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
          span {
            font-weight: bold;
          }
          button {
            background-color: white;
            display: flex;
            justify-content: left;
            align-items: center;
            cursor: pointer;
            color: #4c4c4c;
            text-decoration: none;
            padding: 0;
            .check-box {
              min-width: 3rem;
              img.icon-circle-select {
                width: 1.2rem;
              }
            }
          }
        }
      }
      .fa-sort-amount-down-alt {
        margin: 0 2rem;
        color: #ff9e00;
        cursor: pointer;
      }
    }
    .cards-results {
      display: grid;
      height: 100%;
      grid-gap: 1.5rem;
      padding: 1rem 1rem 0rem 1rem;
    }
    .alert-nodestination {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      p {
        font-weight: bold;
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .sortby-change {
    width: 15rem;
    span {
      font-size: 1rem;
    }
  }
}

@media (min-width: 500px) {
  .sortby-change {
    width: 20rem;
    span {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 1000px) {
  .travel-results-cards {
    margin: 0 1rem 0rem 1rem;
    .linear-progress-filter {
      flex-direction: column;
      .linear-progress-div {
        width: 100%;
      }
    }
    .cards-results {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 1001px) {
  .travel-results-cards {
    margin: 0 15rem 0rem 15rem;
    .linear-progress-filter {
      .linear-progress-div {
        width: 80%;
      }
    }
    .cards-results {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1201px) {
  .travel-results-cards {
    .cards-results {
      grid-template-columns: repeat(4, 1fr);
      :nth-of-type(1) {
        grid-column: 1 / 3;
      }
      :nth-of-type(6) {
        grid-column: 3 / 5;
      }
      :nth-of-type(8) {
        grid-column: 2 / 4;
      }
      :nth-of-type(12) {
        grid-column: 3 / 5;
      }
      :nth-of-type(13) {
        grid-column: 1 / 3;
      }
      :nth-of-type(17) {
        grid-column: 2 / 4;
      }
      :nth-of-type(19) {
        grid-column: 1 / 3;
      }

      :nth-of-type(24) {
        grid-column: 3 / 5;
      }
      :nth-of-type(26) {
        grid-column: 2 / 4;
      }
      :nth-of-type(30) {
        grid-column: 3 / 5;
      }
      :nth-of-type(31) {
        grid-column: 1 / 3;
      }
      :nth-of-type(35) {
        grid-column: 2 / 4;
      }
      :nth-of-type(37) {
        grid-column: 1 / 3;
      }
      :nth-of-type(42) {
        grid-column: 3 / 5;
      }

      :nth-of-type(44) {
        grid-column: 2 / 4;
      }
      :nth-of-type(48) {
        grid-column: 3 / 5;
      }
      :nth-of-type(49) {
        grid-column: 1 / 3;
      }
      :nth-of-type(53) {
        grid-column: 2 / 4;
      }
      :nth-of-type(55) {
        grid-column: 1 / 3;
      }
      :nth-of-type(60) {
        grid-column: 3 / 5;
      }
      :nth-of-type(62) {
        grid-column: 2 / 4;
      }
      :nth-of-type(66) {
        grid-column: 3 / 5;
      }
      :nth-of-type(67) {
        grid-column: 1 / 3;
      }
      :nth-of-type(71) {
        grid-column: 2 / 4;
      }
      :nth-of-type(73) {
        grid-column: 1 / 3;
      }
      :nth-of-type(78) {
        grid-column: 3 / 5;
      }
      :nth-of-type(80) {
        grid-column: 2 / 4;
      }
      :nth-of-type(84) {
        grid-column: 3 / 5;
      }
    }
  }
}
