.sortby-change {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: white;
    z-index: 1;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.12);
    span {
      font-weight: bold;
    }
    i {
      color: #19a6ee;
    }
    button {
      background-color: white;
      display: flex;
      justify-content: left;
      align-items: center;
      cursor: pointer;
      color: #181f23;
      text-decoration: none;
      padding: 0;
      .check-box {
        min-width: 3rem;
        img.icon-circle-select {
          width: 1.2rem;
        }
      }
    }
  }

  @media (max-width: 300px) {
    .sortby-change {
      width: 14rem;
      span {
        font-size: 1.2rem;
      }
    }
  }

  @media (min-width: 301px) {
    .sortby-change {
      width: 17rem;
      span {
        font-size: 1.6rem;
      }
    }
  }