.trip-card {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  img {
    height: 27rem;
    width: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
  }
  .trip-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0.3rem 1.5rem;
    .trip-city {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      span.trip-city-name {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
      }
      .trip-carbon {
        display: flex;
        align-items: center;
        justify-content: center;
        span.trip-carbon-amount {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 1.2rem;
          color: white;
          min-width: 4rem;
          text-align: center;
          border-radius: 0.2rem;
          padding: 0.1rem;
          margin-right: 0.2rem;
          background-color: #ff9e00;
        }
        span.trip-carbon-unity {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 0.8rem;
          color: #4c4c4c;
        }
      }
    }
    .trip-pricing {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span.trip-pricing-amount {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 1.6rem;
        color: white;
        min-width: 4rem;
        text-align: center;
        border-radius: 0.2rem;
        padding: 0.2rem;
        margin-top: 0.5rem;
        background-color: #85bf82;
      }
      span.trip-pricing-currency {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 1rem;
        color: #4c4c4c;
      }
    }
  }

  .citytrips {
    position: absolute;
    bottom: 5rem;
    left: 0.5rem;
    color: white;
    .citytrip-card {
      visibility: hidden;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 1.4rem;
      color: white;
      margin-bottom: 0.5rem;
    }
  }
  &:hover {
    transform: scale(1.01);
  }
}