.trip-card {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.3s;
  img {
    height: 20rem;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .trip-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 1.5rem 0 1.5rem;
    .trip-city-pricing {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      .trip-city {
        span.trip-city-name {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 1.6rem;
        }
        .trip-city-carbonfootprint {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #ff9e00;
          span.trip-city-carbonfootprint-amount {
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            font-size: 1rem;
            color: #4c4c4c;
            margin-left: 0.5rem;
          }
        }
      }
      .trip-pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span.trip-pricing-amount {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 1.6rem;
          color: white;
          min-width: 4rem;
          text-align: center;
          border-radius: 0.2rem;
          padding: 0 0.2rem;
          background-color: #427103;
        }
        span.trip-pricing-currency {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold;
          font-size: 1rem;
          color: #4c4c4c;
        }
      }
    }
  }


  .citytrips {
    position: absolute;
    bottom: 5rem;
    left: 0.5rem;
    color: white;
    .citytrip-card {
      visibility: hidden;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 1.4rem;
      color: white;
      margin-bottom: 0.5rem;
    }
  }
  &:hover {
    transform: scale(1.01);
  }
}