.trip-card {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  cursor: pointer;
  transition: 0.3s;
  img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
  }
  .trip-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem 1.5rem 0 1.5rem;
    .trip-city-pricing {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      h4 {
        line-height: 0.5rem;
      }
      .trip-pricing {
        color: #3e936f;
      }
    }
    .trip-carbonfootprint {
      p {
        font-size: 1.2rem;
        color: #262626;
        font-weight: bold;
      }
      .focus-text {
        position: relative;
        z-index: 0;
        color: #262626;
        display: inline-block;
        .underline {
          position: absolute;
          z-index: -1;
          left: 0;
          right: 0;
          bottom: 0.2rem;
          height: 0;
          border: 0.3rem solid #f6b040;
          border-radius: 0.2rem;
        }
        i {
          color: #29b3c1;
        }
      }
    }
  }

  .citytrips {
    position: absolute;
    bottom: 5rem;
    left: 0.5rem;
    .citytrip-card {
      visibility: hidden;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 1.4rem;
      color: white;
      margin-bottom: 0.5rem;
    }
  }
  &:hover {
    transform: scale(1.01);
  }
}
