.trip-card-skeleton {
  background: linear-gradient(90deg, #ededed, #ffffff, #ededed);
  animation-name: load;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  animation-timing-function: linear;
  background-size: 200% 100%;
  height: 19rem;
  border-radius: 0.5rem;
}

@keyframes load {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: -100% 0%;
  }
}
